@import '../../../assets/scss/variables.scss';

.toogleButton {
    gap: 8px;

    svg {
        width: 24px;
        height: 24px;
    }

    &__title {
        font-family: $font-family-primary;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-transform: none;
    }
}
