.row.time-grid-row {
    padding: 2px;
}

.ui.grid > .row > .column.time-grid-column {
    padding-left: 5px;
    padding-right: 5px;
}

.ui.button.time-grid-button {
    width: 100%;
    max-width: 200px;
}

.ui.grid > .row > .column > .time-input {
    position: relative;
    top: 30%;
    left: 30%;
}

.ui.input.time-input {
    width: 100%;
}
