@import '../../assets/scss/variables.scss';

.selected {
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 15px;
    }

    &__chip {
        padding: 6px !important;
        margin: 0 !important;
        display: inline-flex;
        align-items: center;

        &__title {
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
            color: #FFFFFF;
            margin: 0;
            padding: 0 8px 0 4px;
        }

        &:hover {
            cursor: default;
            background-color: $color-primary !important;
        }

        span {
            width: 20px;
            height: 20px;
            font-size: 8px;
            cursor: pointer;
            border-radius: 50%;
            align-items: center;
            display: inline-flex;
            justify-content: center;
            transition: 0.3s ease-in-out;
            background-color: #EAF3F5;

            svg {
                width: 18px;
                height: 18px;
                path {
                    fill: #047A9B;
                }
            }

            &:hover {
                background-color: rgba($color-white, 0.3);
            }
        }

        img {
            width: 10px;
        }
    }
}
