.button {
    border: 0;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    appearance: none;
    line-height: 1.1;
    user-select: none;
    border-radius: 8px;
    color: $color-white;
    white-space: nowrap;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 6px 20px 5px 20px;
    background: $color-primary;
    transition: 0.3s ease-in-out;
    font-family: $font-family-primary;
    font-weight: 600;
    &:not(.ui) {
        height: 40px;
        min-width: 100px;
    }
    &.active {
        background-color: darken($color-primary, 5%);
    }
    &:hover {
        &:not([data-hover='false']) {
            background-color: darken($color-primary, 5%);
        }
    }
    &.secondary {
        background-color: $color-yello-dark;
        color: $color-black;
        &:hover {
            background-color: rgba($color-yello-dark, 0.6);
        }
    }
    &.outline {
        color: $color-primary;
        background-color: transparent;
        border: 1px solid $color-primary;
        &.active {
            color: $color-white;
            background-color: $color-primary;
        }
        &:hover {
            &:not([data-hover='false']) {
                color: $color-white;
                background-color: $color-primary;
            }
        }
    }
    &.info {
        color: $color-black;
        border: 1px solid lighten(saturate($color-primary-light, 18.15), 14.9);
        &.active {
            color: $color-white;
            border-color: $color-primary;
            background-color: $color-primary;
        }
        &:hover {
            &:not([data-hover='false']) {
                color: $color-white;
                border-color: $color-primary;
                background-color: $color-primary;
            }
        }
    }
    &.pill {
        min-width: 0;
        border-radius: 20px;
        text-transform: inherit;
        @include max-screen($mobile) {
            height: 30px;
            font-size: 12px;
            padding: 5px 12px 4px;
        }
    }
    &.sm {
        height: 35px;
        font-size: 12px;
        min-width: 60px;
        padding: 5px 15px 4px 15px;
        @include max-screen($mobile) {
            min-width: 55px;
            padding: 5px 10px 4px 10px;
        }
        & + .sm {
            @include max-screen($mobile) {
                margin-left: 5px;
            }
        }
    }
    & + .button {
        margin-left: 15px;
        @include max-screen($mobile) {
            margin-left: 10px;
        }
    }
}
