.dropdown {
    &.ui {
        height: 45px !important;
        border-radius: 8px !important;
        padding: 14px 15px !important;
        border: 1px solid $color-border !important;
        input[type='text'] {
            width: 100% !important;
            height: 45px !important;
            outline: none !important;
            font-size: 14px;
            appearance: none;
            padding: 5px 15px !important;
            color: $color-black;
        }
        i {
            display: none !important;
            &.plus,
            &.ellipsis {
                display: inline-block !important;
            }
        }
        .text.divider {
            width: 100%;
            overflow: visible;
            color: $color-black;
        }
        .menu {
            margin-top: 2px !important;
            border-radius: 8px !important;
            border: 1px solid rgba(0, 0, 0, 0.05) !important;
            box-shadow: 0 2px 5px rgba($color-black, 0.1);
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-track {
                background: rgba($color-black, 0.05);
            }

            &::-webkit-scrollbar-thumb {
                background: rgba($color-black, 0.3);
            }
            .item {
                display: block;
                font-size: 14px;
                padding: 10px 15px;
                user-select: none;
                color: $color-black;
                border-bottom: 1px solid rgba($color-black, 0.05);
                font-weight: 400 !important;
                &.selected,
                &:hover {
                    color: $color-primary !important;
                    background-color: transparent !important;
                }
            }
        }
        &.active.selection {
            box-shadow: none !important;
            border-radius: 8px !important;
            border-color: $color-primary !important;
        }
        &.upward {
            .menu {
                margin-top: 0 !important;
                margin-bottom: 2px !important;
            }
        }
        .selection.dropdown.visible,
        &.upward.selection.dropdown.visible {
            box-shadow: none !important;
            border-radius: 8px !important;
        }
        .label {
            z-index: 1;
            position: relative;
        }
    }
    &.multiple,
    &[aria-multiselectable='true'] {
        min-height: 45px !important;
        height: auto !important;
    }
    &.multiple.search {
        display: flex;
        flex-wrap: wrap;
        input[type='text'],
        input {
            width: auto !important;
            display: block;
            border-radius: 0 !important;
            height: auto !important;
            padding: 0 !important;
            margin: 0 !important;
            position: static !important;
        }
        .divider.text {
            margin: 0;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
    &.selection {
        a {
            i.delete {
                display: inline-block !important;
            }
        }
    }
}
