.delete-row {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.toggle-button-row {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.margin-top-20 {
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-items:flex-start;
}

.width-100-input {
    width: 100%;
    max-width: 400px;
    margin-right: 10px; 
}
.option-block-item .field {
    width: calc(100% - 85px);
    margin-bottom: 0 !important;
}
.option-block-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.year-block .column {
    padding-bottom: 5px !important;
}
.year-block {
    margin-top: 10px !important;
}