@import '../../../../assets/scss/variables.scss';

.historyTable {
    table {
        min-width: 100%;

        @include min-screen($mobile) {
            width: max-content !important;
        }
    }

    &.historyCondition {
        table {
            tr {

                td,
                th {
                    &:nth-child(1) {
                        width: 43%;

                        @include max-screen($desktop) {
                            width: 46%;
                        }

                        @include max-screen($mobile) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}