/* The error styling was copied from src/components/tools/TableContent.css */

.error {
    width: 12.5rem;
    background-color: #9f3a38;
    color: #fff;
    text-align: center;
    border-radius: 2.5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 75%;
    left: 50%; 
    margin-left: -60px;
    transition: opacity 0.3s;
}

.error::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 25%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #9f3a38 transparent;
}

.mobile-error {
    width: 12.5rem;
    background-color: #9f3a38;
    color: #fff;
    text-align: center;
    border-radius: 2.5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 50%; 
    margin-left: -60px;
    transition: opacity 0.3s;
}

.mobile-error::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 25%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #9f3a38 transparent;
}