.input-column {
    display: flex !important;
    flex-direction: column;
    line-height: 1.2;
    justify-content: flex-end;
}
.input-column .survey-chips {
    margin-top: 0;
}
.ui.segment.additional {
    padding: 3rem 4rem;
}
@media (max-width: 767px) {
    .ui.grid > [class*='eight wide'].input-column.column.qa-div {
        width: 100% !important;
    }
    .ui.segment.additional {
        padding: 2rem 1rem;
    }
}

.cc-description {
    font-family: Nunito, Arial, Helvetica, 'sans-serif';
    width: 100%;
    height: 6rem !important;
}
