.ui.segment.note-page-container {
    border-color: white;
    margin: 2rem;
    padding: 3rem;
}

.ui.segment.note-page-container-mobile {
    border-color: white;
    margin: 1rem;
    padding: 1rem;
}

.active-tab-container {
  margin: 20px 0;
  width: 100%;
}
.note-text {
   text-align: center;
   padding-left: 15px;
   padding-right: 15px; 
}
