@import '../../../../../../../assets/scss/variables.scss';
.scaleInput {
    &__range {
        width: calc(100% - 150px);
        @include max-screen($small) {
            width: 100%;
        }
        input {
            width: 100%;
            height: 8px;
            outline: none;
            margin: 0 10px;
            appearance: none;
            border-radius: 5px;
            background: lighten($color-black, 85);
            &::-webkit-slider-thumb {
                width: 18px;
                height: 18px;
                cursor: pointer;
                appearance: none;
                border-radius: 50%;
                background: $color-primary;
            }
            &::-moz-range-thumb {
                width: 18px;
                height: 18px;
                cursor: pointer;
                border-radius: 50%;
                background: $color-primary;
            }
            &::-moz-range-progress {
                height: 8px;
                border-radius: 5px;
                background-color: $color-primary;
            }
        }
    }
    &__input {
        padding-left: 20px;
        @include max-screen($small) {
            width: 100%;
            padding: 10px 0 0;
        }
        input {
            width: 50px;
            height: 30px;
            padding: 5px;
            text-align: center;
            border-radius: 5px;
            appearance: textfield;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        button {
            margin-left: 20px;
        }
    }
}
