.disease-container {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    margin-left: -2rem;
    width: auto;
}

.hpi-disease-button {
    width: 100%;
    text-align: left !important;
}

.diseases-array {
    margin-bottom: 2rem;
}

.disease-column {
    padding-left: 2rem;
    background-clip: padding-box;
}

.positive-diseases-placeholder {
    height: 31px;
}

.positive-disease {
    color: white;
    background-color: lightslategrey;
}

.disease-menu {
    overflow-x: auto;
    overflow-y: hidden;
}

.disease-tab {
    font-size: 13px;
}

.question-map {
    margin-left: 3rem;
}

.arrow-buttons {
    display: flex;
    justify-content: space-between;
}

.category-header {
    margin-top: -20px;
}

.ui.button.hpi-previous-button, .ui.button.hpi-next-button {
    position: sticky !important;
    bottom: 0;
    margin: 0;
    opacity: 0.8;
    display: block;
    font-size: 13px;
    background: #c8e2ea;
}

.hpi-disease-container {
    overflow: visible;
    position: relative;
}

.ui.button.hpi-previous-button {
    position: absolute;
    margin-left: -10.8em;
}

.ui.button.hpi-next-button {
    position: absolute;
    margin-right: -10.8em;
}

.ui.button.hpi-previous-button:hover, .ui.button.hpi-next-button:hover {
    opacity: 1;
    background: #c8e2ea;
}

.ui.button.hpi-small-previous-button, .ui.button.hpi-small-next-button {
    display: none;
    position: sticky !important;
    bottom: 0;
    opacity: 0.8;
    margin: 0;
    background: #c8e2ea;
}

@media screen and (max-width: 700px) {
    .category-header {
        text-align: center;
        margin-bottom: 0;
        margin-top: -20px;
    }
    .question-map {
        margin: auto .5rem;
    }
}

@media screen and (max-width: 1300px) {
    .ui.button.hpi-previous-button, .ui.button.hpi-next-button {
        display: none;
    }

    .ui.button.hpi-small-previous-button, .ui.button.hpi-small-next-button {
        display: block;
    }
    
    .ui.button.hpi-small-previous-button {
    position: absolute;
    margin-left: -3.2em;
    }

    .ui.button.hpi-small-next-button {
    position: absolute;
    margin-right: -3.2em;
    }
}