.disease-container {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    margin-left: -2rem;
    width: auto;
}

.hpi-disease-button {
    width: 100%;
    text-align: left !important;
}

.diseases-array {
    margin-bottom: 2rem;
}

.disease-column {
    padding-left: 2rem;
    background-clip: padding-box;
}

.positive-diseases-placeholder {
    height: 31px;
}

.positive-disease {
    color: white;
    background-color: lightslategrey;
}

.next-button {
    width: auto;
    float: right;
    padding-bottom: 2rem;
}

.disease-menu {
    overflow-x: auto;
    overflow-y: hidden;
}

.disease-tab {
    font-size: 13px;
}

.question-map {
    margin-left: 3rem;
}

.arrow-buttons {
    display: flex;
    justify-content: space-between;
}

.category-header {
    margin-top: -20px;
}

@media screen and (max-width: 700px) {
    .category-header {
        text-align: center;
        margin-bottom: 0;
        margin-top: -20px;
    }
    .question-map {
        margin: auto .5rem;
    }
}