@import '../../assets/scss/variables.scss';

.drawerBoxContainer {
    display: flex;

    > div {
        min-width: 64px;
    }

    @media (max-width: 768px) {
        position: absolute;
        height: 100%;
    }
}

.drawerOpenBtn {
    position: absolute;
    top: 0;
    height: 36px;
    margin: 12px;
    background-color: #ffffff;
}

.miniHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 64px;

    img {
        cursor: pointer;
    }
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    width: 100%;

    &__logoBox {
        display: flex;
        align-items: center;
        gap: 12px;

        p {
            font-family: $font-family-secondary;
            font-weight: $font-weight-semibold;
            color: $color-black;
            font-size: 26px;

            @include max-screen($mobile) {
                font-size: 20px;
            }
        }
    }

    &__iconButton {
        padding: 5px;
        border-radius: 8px;
        svg {
            width: 24px;
            height: 24px;
            fill: #7f8485;
        }
    }
}

.menuItemWrapper {
    p {
        font-size: 14px;
        font-weight: $font-weight-bold;
        font-family: $font-family-primary;
        line-height: 28px;
        padding: 24px 16px 0;
    }

    ul {
        padding: 0;
    }

    li {
        border-radius: 8px;
        overflow: hidden;

        > div {
            padding: 9px 16px;

            span {
                font-family: $font-family-primary;
                font-size: $font-size-base;
                font-weight: $font-weight-semibold;
                line-height: 24px;
                color: rgba($color-black, 0.87);
            }

            svg {
                width: 24px;
                height: 24px;
                fill: #7f8485;
            }

            :hover {
                background-color: transparent;
            }
        }

        :hover {
            background-color: rgba($color-light, 0.5);
        }

        :focus {
            background-color: $color-light;

            > div {
                span {
                    color: #057a9b;
                }

                svg {
                    path {
                        fill: #057a9b;
                    }
                }
            }
        }
    }
}

.drawerBox {
    padding: 16px 8px 8px;
}

.miniDrawerBox {
    .miniMenu {
        max-width: 64px;
        padding: 0 12px;

        li {
            margin-top: 10px;

            > div {
                padding: 8px;
                border-radius: 8px;

                svg {
                    width: 24px;
                    height: 24px;
                    fill: #7f8485;
                }

                .MuiListItemIcon-root {
                    min-width: 24px;
                }

                :hover {
                    background-color: transparent;
                }
            }

            :hover {
                border-radius: 8px;
                background-color: rgba($color-light, 0.5);
            }

            :focus {
                background-color: $color-light;

                > div {
                    span {
                        color: #057a9b;
                    }

                    svg {
                        path {
                            fill: #057a9b;
                        }
                    }
                }
            }
        }
    }

    .drawerDivider {
        max-width: 40px;
        margin: 16px 12px;
    }
}
