#row {
    border: none !important;
    border-width: 0 !important;
    border-color: transparent !important;
}

#comments-label {
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}

#contents-input-div-inline {
    display: inline-block;
    width: 85%;
}

.delete-allergy {
    position: relative;
    top: 50%;
    left: 50%;
}
@media (max-width: 767px) {
    .spacing-x {
        padding-left: 10px;
        padding-right: 10px;
    }
}
