
.contact-page {
    margin-top: 10vh;
}

.contact-title {
    text-align: center;
}

.submit-button {
    margin-top: 20px;
    text-align: center;
}

.success-msg {
    margin-top: 20px !important;
    text-align: center;
}