.ui.header.home-header {
  font-size: 3.5rem;
  margin: 0;
}

.ui.header.home-sub-header {
  font-size: 2rem;
}

.ui.segment {
  margin: 0;
  padding: 3rem 4rem;
}

.ui.segment.meet-cydoc {
  background-color: #96c8d6;
  background-image: url('https://cydoc-static-files.s3.amazonaws.com/meet-cydoc.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

.ui.header.white {
  color: white;
}

.ui.header.teal {
  color: #006b87;
}

.ui.header.light-teal {
  color: #96c8d6;
}

.meet-cydoc h2.ui.header {
  color: #006b87;
}

.meet-cydoc p {
  color: black;
  margin-bottom: 2rem;
  font-size: 1.35rem;
}

.ui.button.inquire-button {
  box-shadow: 2px 2px 10px rgba(15, 15, 20, 0.5);
  background-color: white;
  color: #006b87;
  transition: 300ms;
}

.ui.button.inquire-button:hover {
  background-color: #006b87;
  color: white;
}

.image-parent {
  position: relative;
}

.ui.image.preview-image {
  box-shadow: 3px 3px 15px rgba(15, 15, 20, 0.5);
  border-radius: 7px;
  max-width: 85%;
  height: auto;
  position: absolute;
}

.ui.image.preview-image.ros {
  top: 5rem;
  left: 0;
}

.ui.image.preview-image.plan {
  bottom: 5.7rem;
  left: 2.4rem;
}

.preview-image-container {
  position: relative;
}

.ui.image.preview-image-small {
  box-shadow: 3px 3px 15px rgba(15, 15, 20, 0.5);
  border-radius: 7px;
  max-width: 85%;
  margin: 1rem 0 2rem;
  height: auto;
  text-align: center;
}

.ui.image.preview-image-small.ros-small {
  top: 2rem;
  left: 1rem;
}

.ui.image.preview-image-small.plan-small {
  top: -4rem;
  left: 3rem;
}

.ui.segment.better-notes {
  background: url('https://cydoc-static-files.s3.amazonaws.com/better-notes.jpg') no-repeat 75% 10%
    scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
}

.better-notes p {
  color: white;
  font-size: 1.35rem;
  letter-spacing: 0.3px;
}

.ui.header + p.better-notes-description {
  margin: 2rem 0;
}

.icon.white-icon {
  color: white;
  margin-bottom: 1rem;
}

.diagonal {
  position: relative;
  left: -7rem;
  background-color: rgba(0, 107, 135, 0.75);
  transform: skewX(15deg);
  max-width: 65%;
}

.diagonal-content {
  transform: skewX(-15deg);
  padding: 3rem 5.5rem 3rem 11rem;
}

.ui.segment.click-to-tell {
  background-color: #333333;
}

.ui.segment.design-doctors {
  background-color: #96c8d6;
  background-image: url('https://cydoc-static-files.s3.amazonaws.com/for-doctors.png');
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

.design-doctors-content {
  max-width: min(43%, 600px);
  text-align: center;
}

.design-doctors .ui.header.home-sub-header {
  font-weight: normal;
  color: black;
}

.ui.segment.features {
  background-color: #006b87;
}

.ui.grid.features-content {
  margin: 2rem;
}

.ui.grid > .row.features-row {
  padding: 0.1rem 0;
}

.ui.grid > .row.icon-row {
  margin-top: 3rem;
}

.ui.grid > .row > .column.feature-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3px;
  margin: 0;
}

.features-content-mobile {
  margin: auto;
  text-align: center;
  max-width: 400px;
}

.feature-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3px;
  margin: 0;
}

.feature-description {
  color: white;
  font-size: 1.35rem;
  letter-spacing: 0.3px;
}

.huge.icon.mobile-icon {
  font-size: 3rem;
  margin-top: 2rem;
}

.ui.segment.footer {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 50%;
  max-width: 250px;
}

.footer-link .ui.header {
  font-weight: normal;
  color: #96c8d6;
  font-size: 1.7rem;
  letter-spacing: 0.3px;
}

.footer-link::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #96c8d6;
  transition: 300ms;
}

.footer-link:hover::after {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .ui.segment {
    margin: 0;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
  }
  
  .ui.header.home-header {
    font-size: 2.7rem;
    margin: 0;
  }

  .meet-cydoc p,
  .better-notes p {
    font-size: 1.25rem;
  }

  .ui.header.click-to-tell {
    font-size: 2rem;
    letter-spacing: 0.3px;
  }

  .ui.segment.design-doctors {
    background-image: none;
    justify-content: center;
    padding: 1.7rem;
  }

  .design-doctors-content {
    max-width: none;
  }

  .ui.segment.footer {
    display: block;
    text-align: center;
    padding: 2rem;
  }

  .footer-link {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding-top: 1rem;
  }

  .footer-links {
    margin: 0 auto 0.5rem;
    display: block;
    width: fit-content;
  }
}

@media screen and (max-width: 550px) {
  .diagonal {
    position: static;
    background-color: rgba(0, 107, 135, 0.6);
    transform: skewX(0);
    max-width: 100%;
  }

  .diagonal-content {
    transform: skewX(0);
    padding: 3rem 4rem;
  }
}

@media screen and (max-width: 836px) {
  .ui.segment.features {
    padding: 3rem;
  }

  .ui.grid.features-content {
    margin: 2rem 0;
  }

  .ui.header.footer-header {
    font-size: 2.2rem;
  }

  .footer-links {
    width: 40%;
    min-width: 175px;
  }

  .footer-link .ui.header {
    font-size: 1.35rem;
  }
}

@media screen and (min-width: 551px) and (max-width: 836px) {
  .diagonal {
    position: relative;
    left: -7rem;
    background-color: rgba(0, 107, 135, 0.6);
    transform: skewX(10deg);
    max-width: 99%;
  }

  .diagonal-content {
    transform: skewX(-10deg);
    padding: 3rem 3.5rem 3rem 11rem;
  }
}

@media screen and (min-width: 421px) and (max-width: 896px) {
  .ui.header.click-to-tell {
    font-size: 2rem;
    letter-spacing: 0.3px;
  }

  .ui.segment.design-doctors {
    background-position: 68% 22%;
    padding: 3rem 2.5rem;
  }

  .design-doctors-content {
    max-width: max(40%, 250px);
  }
}

@media screen and (max-width: 1125px) {
  .design-doctors-content {
    text-align: center;
  }

  .ui.header.for-doctors {
    font-size: 2.7rem;
  }

  .ui.header.for-doctors-sub {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1140px) {
  .column:not(.row).meet-cydoc-text {
    max-width: 600px;
  }

  .image-parent {
    position: relative;
  }

  .ui.image.preview-image {
    box-shadow: 3px 3px 15px rgba(15, 15, 20, 0.5);
    border-radius: 7px;
    width: 70%;
    max-width: 505px;
    height: auto;
    position: absolute;
  }

  .ui.image.preview-image.ros {
    top: 3rem;
    left: 4rem;
  }

  .ui.image.preview-image.plan {
    top: 8rem;
    left: 7rem;
  }
}

@media screen and (min-width: 1500px) {
  .ui.segment.design-doctors {
    background-size: contain;
    background-position: 25% center;
    padding: 4rem;
    display: block;
  }

  .design-doctors-content {
    padding-left: 50vh;
    max-width: none;
  }
}
