@import '@assets/scss/variables.scss';

.diseaseForm {
    h5 {
        font-weight: 300;
        margin-bottom: 30px;
    }
    aside {
        > button {
            margin: 5px !important;
        }
    }
    :global {
        .isYesNo {
            h5 {
                margin-bottom: 5px;
            }
        }
    }
}
