@import '../../../../assets/scss/variables.scss';

.symptomsBlock {
    span {
        font-family: $font-family-primary;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-transform: capitalize;
    }
}
