#contents-input-div {
    width: 100%;
    white-space: nowrap;
}

#contents-inner-input-div {
    display: inline-block;
    width: 85%;
}

#year-label {
    margin-right: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
}

#comments-label {
    margin-right: 15px;
    margin-left: 10px;
    display: inline-block;
}

@media (max-width: 767px){
    .full-view {
        margin: 5px;
        width: calc(100% - 10px) !important;
    }
}