
/* Navigation Bar has a thicker drop shadow */
.nav-menu {
    box-shadow: 0 0 20px 5px RGBA(0, 128, 159, 0.2) !important;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 70px;
}

/* Navigation button styles */
.nav-menu .button {
    background-color: #CDE1E9;
    color: #034353;
    font-weight: 400;
}

.ui.image img {
    margin: 0 .5rem;
}

/* Make the divide between menu tabs seamless */
.edit-note-nav-menu {
    border: 0 !important;
}


/* note name input box styles */
.note-name-menu-item input {
    width: 200px;
    color: #0d5e70 !important;

}
.note-name-menu-item .input:hover {
    border-bottom: 0;
}


.note-name-menu-item {
    padding-top: 0 !important;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}


.ui.dropdown.collapsed-dropdown {
    color: black;
}

.ui.button > .icon.collapsed-icon {
    margin: 0px;
}

.ui.button.logout-button {
    color: #FC4F56;
}

.ui.menu.item.user-item {
    color: #6DA3B1;
    font-weight: normal;
}

.note-title {
    flex: 80%
}

.save-button {
    flex: 20%;
}

.patient-info {
    flex: 60%;
    padding: 0 !important;
    margin-top: 20px !important;
}

.ui.tiny.modal {
    width: 450px;
}

.ui.basic.button.patient-modal-button {
    flex: 40%;
    margin-top: 10px !important;
    font-size: 13px !important;
}

.ui.modal > .content {
    display: flex;
    flex-direction: column;
}

.patient-info-input {
    padding-bottom: 10px;
}

.ui.label {
    width: 120px;
    padding-right: 0;
}

.error {
    position: relative;
    font-size: 13px;
}

.field.mobile-checkbox {
    padding-top: 35px;
}

.error-div{
    position: relative;
}

#first-name-error, #last-name-error, #phone-error, #email-error {
    border: 1px solid;
    z-index: 1;
    margin: -10px;
    position: absolute;
    background: white;
    bottom: -10px;
    left: 15px;
    color: #ff3838;
    font-weight: bold;
}

#dob-error {
    border: 1px solid;
    z-index: 1;
    margin: -10px;
    position: absolute;
    background: white;
    bottom: -10px;
    right: 100px;
    color: #ff3838;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .ui.tiny.modal {
        width: 250px;
        left: 65px;
        top: 100px;
    }

    .full-name {
        display: block;
        margin-bottom: 15px;
    }
    
    #first-name, #middle-name {
        margin-right: 0;
    }

    .note-name-menu-item {
        width: 200px;
        padding-left: 0 !important;
    }

    .note-title {
        padding: 10px;
        margin-top: 10px !important;
    }

    .ui.button.save-button {
        margin-top: 5px !important;
        padding: 8px !important;
    }

    .patient-info {
        margin: 15px !important;
    }

    .ui.basic.button.patient-modal-button {
        margin-top: 0 !important;
    }

    .fields.error-div.phone-div, .fields.phone-div {
        margin-bottom: 15px;
    }
    
    #first-name-error, #last-name-error, #email-error {
        bottom: 70px;
        padding: 2px;
    }
    
    #dob-error {
        bottom: 0;
        left: 18px;
        padding: 2px;
        width: 120px;
    }

    #phone-error {
        bottom: 40px;
        padding: 2px;
    }

    .eight.wide.field.address, .three.wide.field.address, .five.wide.field.address {
        margin-bottom: 15px;
    }

    .ui.form:not(.unstackable) .fields:not(.unstackable) > .three.wide.field.address,
    .ui.form:not(.unstackable) .fields:not(.unstackable) > .four.wide.field.mobile-checkbox {
        width: 40% !important;
    }

    .ui.form:not(.unstackable) .fields:not(.unstackable) > .five.wide.field.address,
    .ui.form:not(.unstackable) .fields:not(.unstackable) > .required.eight.wide.field.patient-info-input,
    .ui.form:not(.unstackable) .fields:not(.unstackable) > .eight.wide.field.patient-info-input {
        width: 60% !important;
    }
}
