@import '../../assets/scss/variables.scss';

.header {
    top: 0;
    left: 0;
    z-index: 999;
    position: sticky;
    padding: 10px 30px;
    background-color: $color-white;
    box-shadow: 0 0 6px $color-primary-light;

    @include max-screen($desktop) {
        padding: 10px 15px;
    }

    @media print {
        display: none !important;
    }

    &__logo {
        cursor: default;
        margin-right: 15px;

        @include max-screen($mobile) {
            margin-right: 10px;
        }

        img {
            width: 60px;

            @include max-screen($mobile) {
                width: 45px;
            }
        }

        span {
            font-size: 26px;
            font-weight: 600;
            margin-left: 10px;
            color: $color-black;
            font-family: $font-family-secondary;

            @include max-screen($mobile) {
                font-size: 20px;
            }
        }

        &.isLinking {
            cursor: pointer;
        }
    }

    &__view {
        position: relative;
        margin-right: auto;

        strong {
            top: 50%;
            left: 50%;
            width: 25px;
            height: 25px;
            font-size: 14px;
            border-radius: 50%;
            position: absolute;
            color: rgba($color-black, 0.4);
            background-color: $color-white;
            transform: translate(-50%, -50%);

            @include max-screen($mobile) {
                width: 20px;
                height: 20px;
                font-size: 12px;
            }
        }

        button {
            font-size: 14px !important;
            padding: 5px 18px !important;

            @include max-screen($mobile) {
                height: 30px !important;
                font-size: 12px !important;
            }

            span {
                @include max-screen($mobile) {
                    display: none;
                }
            }
        }
    }

    &__home {
        img {
            width: 14px;
            margin-right: 5px;
        }
    }

    &__note {
        @include max-screen($tablet) {
            bottom: 10px;
            left: 15px;
            position: absolute;
            width: calc(100% - 20px);
        }
    }

    &.headerNote {
        box-shadow: none;

        @include max-screen($tablet) {
            padding-bottom: 50px;
        }
    }
}