.ui.menu .item.logo-menu:hover {
    background-color: transparent;
}

.ui.image.logo-circle {
    width: 4.6rem;
}

.nav-bar {
    align-items: center;
}
.nav-bar .note-name-menu-item{
    width: auto;
}
.nav-bar .right .item::before {
    display: none;    
}

.ui.image.logo-circle-mobile {
    width: 3rem;
}

/* Navigation Bar has a thicker drop shadow */
.nav-menu {
    box-shadow: 0 0 20px 5px RGBA(0, 128, 159, 0.2) !important;
    height: 100px;
    padding: 1.5rem 0;
}
.nav-bar {
    margin-bottom: 0 !important;
}
@media screen and (max-width: 991px) {
    .nav-bar .right .item {
        padding-left: 0;
    }
    .ui.image.logo-circle {
        width: 60px !important;
    }
    .nav-bar.nav-bar-input {
        position: relative;
        height: auto;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .nav-bar.nav-bar-input .note-name-menu-item {
        position: absolute !important;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 30px;
        max-width: none !important;
        padding: 0 15px !important;
    }
    .nav-bar.nav-bar-input .note-name-menu-item::before {
        display: none;
    }
    .nav-bar.nav-bar-input .note-name-menu-item input {
        height: 35px;
        font-size: 14px !important;
    }
}
@media screen and (max-width: 767px) {
    .nav-bar {
        padding-right: 15px;
    }
    .nav-bar.nav-bar-input + .sticky-div {
        margin-top: 83px;
    }
    .nav-bar .logo-menu {
        padding-right: 0 !important;
        padding-left: 15px !important;
    } 
    .nav-bar .profile-button,
    .nav-bar .right .item button {
        font-size: 0 !important;
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-bar .right .item:last-child {
        padding-right: 0 !important;
    }
    .nav-bar .profile-button > span i,
    .nav-bar .right .item button i {
        font-size: 16px;
        height: auto !important;
        margin: 0 !important;
        display: block;
    }
    .nav-bar .profile-button {
        padding: 0;
    }
    .nav-bar .profile-button > span {
        font-size: 0;
    }
    .nav-bar .profile-button > i {
        display: none;
    }
    .nav-bar .logo-menu ~ .ui.buttons {
        margin-left: 3px !important;
    }
    .nav-bar .profile-menu-item .profile-button.dropdown .menu a.item {
        height: 37px !important;
        display: flex !important;
        align-items: center;
        padding-left: 10px !important;
    }
    .nav-bar .profile-button.dropdown.ui .menu a.item i.icon {
        width: 14px;
        height: 14px;
    }
    .nav-bar .profile-button.dropdown.ui .menu a.item i.icon::before {
        font-size: 14px !important;
        line-height: 1;
    }
    .nav-bar .profile-button.dropdown.ui .menu a.item span { 
        font-size: 14px !important;
        overflow: visible !important;
        padding: 5px 10px !important;
    }
}
@media screen and (max-width: 700px) {
    .nav-menu {
        height: 70px;
    }
}

/* Navigation button styles */
.nav-menu .button {
    background-color: #CDE1E9;
    color: #034353;
    font-weight: 400;
}

#nav-menu__login-button {
    margin-right: 10px;
}

.ui.image img {
    margin: 0 .5rem;
}

/* Make the divide between menu tabs seamless */
.edit-note-nav-menu {
    border: 0 !important;
}

.nav-menu .user {
    color: '#6DA3B1';
    font-weight: 'normal';
}


/* note name input box styles */
.note-name-menu-item input {
    width: 200px;
    color: #0d5e70 !important;

}
.note-name-menu-item .input:hover {
    border-bottom: 0;
}

.note-name-menu-item {
    padding-top: 0 !important;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.ui.dropdown.collapsed-dropdown {
    color: black;
}

.ui.button.logout-button {
    color: #b90208;
}

.ui.menu.item.user-item {
    color: #6DA3B1;
    font-weight: normal;
}

.note-title {
    flex: 80%
}

.save-button {
    flex: 20%;
}

.patient-info {
    flex: 60%;
    padding: 0 !important;
    margin-top: 20px !important;
}

.ui.tiny.modal {
    width: 450px;
}

.ui.basic.button.patient-modal-button {
    flex: 40%;
    margin-top: 10px !important;
    font-size: 13px !important;
}

.ui.modal > .content {
    display: flex;
    flex-direction: column;
}
.modal-action {
    display: flex;
    align-items: center;
    justify-content: center;
}
.patient-info-input {
    padding-bottom: 10px;
}

.ui.label {
    width: 120px;
    padding-right: 0;
}

.error {
    position: relative;
    font-size: 13px;
}

.field.mobile-checkbox {
    padding-top: 35px;
}

.error-div{
    position: relative;
}

#first-name-error, #dob-error {
    border: 1px solid;
    z-index: 1;
    margin: -10px;
    position: absolute;
    background: white;
    bottom: -10px;
    left: 15px;
    color: #ff3838;
    font-weight: bold;
}

#last-name-error {
    border: 1px solid;
    z-index: 1;
    margin: -10px;
    position: absolute;
    background: white;
    bottom: -10px;
    right: 35px;
    color: #ff3838;
    font-weight: bold;
}

.ui.button.profile-mobile {
    padding: .78571429em;
}

#menu-item {
    margin-top: 15px;
}

/* Override the dropdown CSS for the profile button */
.ui.button.profile-button {
    box-shadow: 0 0 0 1px #007a9a inset !important;
    color: #007a9a !important;
}

.ui.button.profile-button:hover {
    box-shadow: 0 0 0 1px #0d5e70 inset !important;
    color: #0d5e70 !important;
}

@media (max-width: 450px) {
    #menu-item {
        margin-left: 5px;
        margin-top: 20px;
    }

    #modal-btn {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 500px) {
    .ui.tiny.modal {
        width: 250px;
        left: 65px;
        top: 100px;
    }

    .full-name {
        display: block;
        margin-bottom: 15px;
    }
    
    #first-name, #middle-name {
        margin-right: 0;
    }

    .note-name-menu-item {
        width: 200px;
        padding-left: 0 !important;
    }

    .ui.button.save-button {
        margin-top: 5px !important;
        padding: 8px !important;
    }

    .patient-info {
        margin: 15px !important;
    }

    .ui.basic.button.patient-modal-button {
        margin-top: 0 !important;
    }

    .fields.error-div.phone-div, .fields.phone-div {
        margin-bottom: 15px;
    }
    
    #first-name-error, #last-name-error, #email-error {
        margin-right: 10px;
        bottom: 0px;
        padding: 2px;
    }
    
    #dob-error {
        bottom: 0px;
        padding: 2px;
        /* bottom: 0;
        left: 18px;
        padding: 2px;
        width: 120px; */
    }

    #phone-error {
        bottom: 40px;
        padding: 2px;
    }

    .eight.wide.field.address, .three.wide.field.address, .five.wide.field.address {
        margin-bottom: 15px;
    }

    .ui.form:not(.unstackable) .fields:not(.unstackable) > .three.wide.field.address,
    .ui.form:not(.unstackable) .fields:not(.unstackable) > .four.wide.field.mobile-checkbox {
        width: 40% !important;
    }

    .ui.form:not(.unstackable) .fields:not(.unstackable) > .five.wide.field.address,
    .ui.form:not(.unstackable) .fields:not(.unstackable) > .required.eight.wide.field.patient-info-input,
    .ui.form:not(.unstackable) .fields:not(.unstackable) > .eight.wide.field.patient-info-input {
        width: 60% !important;
    }
}

@media screen and (max-width: 500px) {
    div.item.profile-menu-item {
        padding: 5px !important;
    }
    div.item.home-menu-item {
        padding: 5px !important;
    }
    .nav-bar .logo-menu img {
        width: 38px !important;
    }
    .nav-bar .logo-menu h1 {
        font-size: 20px !important;
        line-height: 1;
    }
    .nav-bar .ui.buttons {
        height: 30px;
    }
    .nav-bar .ui.buttons .or:before {
        margin-top: -13px;
        font-size: 12px !important;
    }
    .nav-bar .ui.buttons .button {
        max-height: none !important;
        height: 30px !important;
        font-size: 12px !important;
        padding: 3px 15px !important;
    }
}
