.ui.menu .item.logo-menu:hover {
    background-color: transparent;
}

.ui.image.logo-circle {
    width: 4.6rem;
}

/* Navigation Bar has a thicker drop shadow */
.nav-menu {
    box-shadow: 0 0 20px 5px RGBA(0, 128, 159, 0.2) !important;
    height: 100px;
    padding: 1.5rem 0;
}

/* Navigation button styles */
.nav-menu .button {
    background-color: #CDE1E9;
    color: #034353;
    font-weight: 400;
}

.ui.image img {
    margin: 0 .5rem;
}

/* Make the divide between menu tabs seamless */
.edit-note-nav-menu {
    border: 0 !important;
}


/* note name input box styles */
.note-name-menu-item input {
    width: 200px;
    color: #0d5e70 !important;

}
.note-name-menu-item .input:hover {
    border-bottom: 0;
}


.note-name-menu-item {
    padding-top: 0 !important;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}


.ui.dropdown.collapsed-dropdown {
    color: black;
}

.ui.button > .icon.collapsed-icon {
    margin: 0px;
}

.ui.button.logout-button {
    color: #FC4F56;
}

.ui.menu.item.user-item {
    color: #6DA3B1;
    font-weight: normal;
}

.note-title {
    flex: 80%
}

.save-button {
    flex: 20%;
}

.patient-info {
    flex: 60%;
    padding: 0 !important;
    margin-top: 20px !important;
}

.ui.tiny.modal {
    width: 450px;
}

.ui.basic.button.patient-modal-button {
    flex: 40%;
    margin-top: 10px !important;
    font-size: 13px !important;
}

.ui.modal > .content {
    display: flex;
    flex-direction: column;
}

.patient-info-input {
    padding-bottom: 10px;
}

.ui.label {
    width: 120px;
    padding-right: 0;
}

.error {
    position: relative;
    z-index: 1 !important;
    font-size: 13px;
    margin: -10px !important;
}

.full-name {
    display: flex;
}

#first-name, #middle-name, #last-name {
    flex: 33%;
}

#first-name, #middle-name {
    margin-right: 10px;
}

@media screen and (max-width: 500px) {
    .ui.tiny.modal {
        width: 250px;
        left: 65px;
        top: 100px;
    }

    .full-name {
        display: block;
        margin-bottom: 15px;
    }
    
    #first-name, #middle-name {
        margin-right: 0;
    }

    .note-name-menu-item {
        width: 200px;
    }

    .note-title {
        padding: 10px;
        margin-top: 10px !important;
    }

    .ui.button.save-button {
        margin-top: 5px !important;
        padding: 8px !important;
    }

    .patient-info {
        margin: 15px !important;
    }

    .ui.basic.button.patient-modal-button {
        margin-top: 0 !important;
    }
    
}
