@media screen and (min-width: 701px) and (max-width: 850px) {
    div.fitted.item.note-name-menu-item {
        max-width: 400px;
        min-width: 300px;
    }

    div.ui.huge.transparent.input.note-title {
        margin-top: 0px;
    }
}


@media screen and (min-width: 501px) and (max-width: 700px) {
    div.fitted.item.note-name-menu-item {
        max-width: 300px;
        min-width: 200px;
    }

    div.ui.huge.transparent.input.note-title {
        margin-top: 0px;
    }
}


@media screen and (max-width: 500px) {
    div.fitted.item.note-name-menu-item {
        max-width: 150px;
    }
    /*div.ui.huge.transparent.input.note-title {
        max-width: 100px;
    }*/
    
    .input {
        max-width: 100px;
        overflow-x: hidden;
    }
}
