@media screen and (min-width: 501px) and (max-width: 700px) {
    div.fitted.item.note-name-menu-item {
        max-width: 350px;
        min-width: 250px;
    }

    div.ui.huge.transparent.input.note-title {
        margin-top: 0px;
    }
}


@media screen and (max-width: 500px) {
    div.fitted.item.note-name-menu-item {
        max-width: 150px;
    }
    
    .input {
        overflow-x: hidden;
    }
    .input.content-dropdown.medication {
        overflow-x: visible;
    }

    div.ui.huge.transparent.input.note-title {
        margin-top: 0px;
    }
}
