
.ui.icon.button.previous-button, .ui.icon.button.next-button {
    opacity: 0.8;
    margin: 0;
    display: block;
    font-size: 18px;
    background: #006b87;
    color: white;
    margin-top: 18px;
  }
  .ui.icon.button.previous-button{
    margin-left: -46px;
  }
  .ui.icon.button.next-button{
    margin-right: -46px;
  }
  .ui.icon.button.previous-button:hover, .ui.icon.button.next-button:hover {
    opacity: 0.6;
  }
  
  .ui.icon.button.previous-button {
    left: 0;
  }
  
  .ui.icon.button.next-button {
    right: 0;
  }
  
  .ui.icon.button.small-previous-button, .ui.icon.button.small-next-button {
    display: none;
    opacity: 0.8;
    margin: 0;
    background: #006b87;
    color: white;
    margin-top: 4px;
  }

  @media screen and (max-width: 600px) {
    .ui.icon.button.previous-button, .ui.icon.button.next-button {
      display: none;
    }
  
    .ui.icon.button.small-previous-button, .ui.icon.button.small-next-button {
      display: block;
    }
    
    .ui.icon.button.small-previous-button {
      left: 5px;
    }
  
    .ui.icon.button.small-next-button {
      right: 5px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .ui.icon.button.small-previous-button {
      left: 15px;
    }
  
    .ui.icon.button.small-next-button {
      right: 15px;
    }
  }
  
