@import '../../assets/scss/variables.scss';

.genNoteHeader {
    padding: 10px 20px;
    border-bottom: 1px solid $color-primary-light;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-family: Nunito;
        font-size: 20px;
        font-weight: 600;
        line-height: 28.6px;
        letter-spacing: -0.2px;
        text-align: left;
        color: black;
        margin: 0;
    }

    &__Button {
        background: var(--accent, #FFD602);
        border-radius: 10px;
        padding: 8px 22px;
        font-family: Nunito;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.46px;
        text-align: left;
        color: #000000;
        cursor: pointer;
    }
}

.genNoteContent {
    padding: 15px;
}

.genNoteTitle {
    padding-bottom: 15px;
    border-bottom: 2px solid $color-primary-light;

    &__Icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        img {
            width: 42px;
        }

        h1 {
            font-family: Nunito;
            font-size: 24px;
            font-weight: bold;
            line-height: 36px;
            letter-spacing: 0.15px;
            text-align: center;
            color: black;
            margin: 0;
            padding-left: 10px;
        }
    }

    p {
        font-family: Nunito;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.15000000596046448px;
        text-align: center;
        color: black;
    }
}

.genNoteBody {
    padding: 12px 0;
    border-bottom: 2px solid $color-primary-light;
    display: flex;
    flex-wrap: wrap;

    &__Item {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 5px 0;

        h3 {
            min-width: 135px;
            font-family: Nunito;
            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            letter-spacing: 0.15px;
            text-align: left;
            color: #000000E5;
            margin: 0;
        }

        p {
            font-family: Nunito;
            font-size: 14px;
            font-weight: 400;
            line-height: 20.02px;
            letter-spacing: 0.17px;
            text-align: left;
            color: #000000E5;
        }
    }
}

.genNoteDetail {
    padding: 12px 0;
    overflow-y: auto;
    max-height: calc(100vh - 280px);
}

.genNoteSource {
    padding: 12px 0;

    h1 {
        margin: 0;
        font-family: Nunito;
        font-size: 16px;
        font-weight: 600;
        line-height: 22.88px;
        letter-spacing: -0.2px;
        text-align: left;
        color: black;
        padding-bottom: 10px;
    }

    &__Item {
        border: 1px solid var(--Divider, #D7E5E9);
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        cursor: pointer;
    }

    &__ItemIcon {
        display: flex;
        align-items: center;

        img {
            width: 18px;
            height: 18px;
        }

        h3 {
            font-family: Nunito;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.15px;
            text-align: left;
            color: black;
            margin: 0;
            padding-left: 10px;
        }
    }

    &__ItemStatus {
        padding: 4px 10px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F5F5F5;

        &__circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #7F8485;
        }

        p {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.16px;
            text-align: left;
            padding-left: 10px;
        }
    }
}