.ui.input.list-text {
    width: 50%;
}

.handle-input {
    min-height: 100px;
}

.short-text textarea {
    margin: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    padding: 0.78571429em 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    outline: 0;
    color: #707070;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color 0.1s ease, border-color 0.1s ease;
    font-size: 1em;
    line-height: 1.2857;
    resize: vertical;
}

.long-text textarea {
    margin: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    padding: 0.78571429em 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    outline: 0;
    color: #707070;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color 0.1s ease, border-color 0.1s ease;
    font-size: 1em;
    line-height: 1.2857;
    resize: vertical;
}
.full-width {
    width: 100% !important;
}
.button-space {
    margin: 15px 15px 0 0 !important;
}
.remove-shadow .accordion {
    box-shadow: 0 0 0 !important;
    border-right: 1px solid rgba(34, 36, 38, 0.15);
    border-left: 1px solid rgba(34, 36, 38, 0.15) !important;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
