.nav-menu {
  box-shadow: 0 0 20px 5px RGBA(0, 128, 159, 0.2) !important;
  height: 100px;
  padding: 1.5rem 0;
}

.acidBaseTest {
  white-space: normal;
  overflow: overlay;
}

.flexParent {
  flex-flow: row wrap;
}

.subheader {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.css-fix {
  white-space: pre-wrap; /* or pre-line */
}