.opt-dropdown {
    font-weight: 400;
    color: #707070;
}

.opt-dropdown.fluid {
    width: 100%;
}

.opt-dropdown:focus {
    outline: none;
}

.dropdown__control {
    border-color: rgba(34, 36, 38, 0.15) !important;
    cursor: pointer !important;
    box-shadow: none !important;
}

.dropdown__control:hover {
    border-color: rgba(34, 36, 38, 0.35) !important;
}

.opt-dropdown.transparent .dropdown__control {
    border: none !important;
}

.opt-dropdown.transparent .dropdown__control .dropdown__value-container {
    transition: border 0.1s ease-in-out;
}

.opt-dropdown.transparent .dropdown__control:hover .dropdown__value-container {
    border-bottom-color: rgba(34, 36, 38, 0.15) !important;
}

.opt-dropdown.transparent
    .dropdown__control--menu-is-open:hover
    .dropdown__value-container,
.opt-dropdown.transparent
    .dropdown__control--menu-is-open
    .dropdown__value-container,
.opt-dropdown.transparent
    .dropdown__control--is-focused
    .dropdown__value-container,
.opt-dropdown.transparent .dropdown__control .dropdown__value-container {
    border-bottom: 1px solid transparent !important;
}

.dropdown__control--menu-is-open:hover,
.dropdown__control--menu-is-open,
.dropdown__control--is-focused {
    border-color: #96c8da !important;
}

.dropdown__menu {
    margin-top: 0 !important;
}

.dropdown__value-container {
    cursor: text;
}

/*
.opt-dropdown div {
    border-radius: 0;
}
*/

/* Hide the vertical bar adjacent to `downward-arrow` */
span.dropdown__indicator-separator {
    display: none;
}

/* Display `downward-arrow` only if `X` is not there (XOR relation) */
div.dropdown__indicator ~ div.dropdown__indicator {
    display: none !important;
}

/* Transparent dropdowns should not show `downward-arrow` at all */
.opt-dropdown.transparent
    .dropdown__indicator-separator
    + div.dropdown__indicator {
    display: none !important;
}

div.dropdown__indicator {
    transform: scale(0.9);
}

.opt-dropdown .option {
    cursor: pointer;
}
.opt-dropdown .option:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

/* Styling of selected option */
.option.dropdown__option--is-selected {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
}

.dropdown-divider {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.tag {
    color: #007a9a;
    background-color: #90e4f9;
    display: inline-flex;
    align-items: center;
    padding: 2px 6px;
    margin-right: 6px;
    font-size: 12px;
    font-style: normal;
    font-family: 'Consolas', monospace;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 4px;
}

.tag.isHeader {
    color: gray;
    background-color: lightgray;
}
