@import '../../../assets/scss/variables.scss';

.wrapper {
    width: 100%;
    min-height: 80px;
    padding: 22px 32px;
    box-shadow: 0px 3px 6px 0px #CBDFE3;
    background-color: $color-white;
    z-index: 10;

    position: sticky;
    top: 0;

    .typo {
        font-family: $font-family-poppins;
        font-weight: $font-weight-medium;
        font-size: 24px;
        line-height: 36px;
        color: rgba($color-black, .87);
    }
}
