.spaced-buttons {
    margin: 0px 4px 4px 0px !important;
}

.dropdown-title {
    font-size: 1.5rem !important;
    font-family: Nunito,Arial,Helvetica,sans-serif !important;
}

h5.ui.header{
  font-family: Nunito,Arial,Helvetica,sans-serif !important;
}

.ui.icon.button.physical-previous-button, .ui.icon.button.physical-next-button {
    position: sticky !important;
    bottom: 0;
    opacity: 0.8;
    margin: 0;
    display: block;
    font-size: 13px;
    background: #c8e2ea;
  }
  
.ui.icon.button.physical-previous-button:hover, .ui.icon.button.physical-next-button:hover {
    opacity: 1;
    background: #c8e2ea;
}

.ui.icon.button.physical-previous-button {
    margin-left: -13em;
}

.ui.icon.button.physical-next-button {
    margin-right: -13em;
}

.ui.icon.button.small-physical-previous-button, .ui.icon.button.small-physical-next-button {
    display: none;
    position: sticky !important;
    bottom: 0;
    opacity: 0.8;
    margin: 0;
    background: #c8e2ea;
}

.ui.container.active-tab-container {
margin-bottom: 10px;
}

@media screen and (max-width: 1300px) {

    .ui.icon.button.physical-previous-button, .ui.icon.button.physical-next-button {
        display: none;
    }

    .ui.icon.button.small-physical-previous-button, .ui.icon.button.small-physical-next-button {
        display: block;
    }

    .ui.icon.button.small-physical-previous-button {
        margin-left: -2.8em;
    }

    .ui.icon.button.small-physical-next-button {
        margin-right: -2.8em;
    }
}

@media screen and (max-width: 400px) {

    .ui.icon.button.small-physical-previous-button {
        margin-left: 0;
    }

    .ui.icon.button.small-physical-next-button {
        margin-right: 0;
    }
}
