.spaced-buttons {
    margin: 0px 4px 4px 0px !important;
}

.dropdown-title {
    font-size: 1.5rem !important;
    font-family: Nunito,Arial,Helvetica,sans-serif !important;
}

h5.ui.header{
  font-family: Nunito,Arial,Helvetica,sans-serif !important;
}
