.spaced-buttons {
    margin: 0px 4px 4px 0px !important;
}

.dropdown-title {
    font-size: 1.5rem !important;
    font-family: Nunito,Arial,Helvetica,sans-serif !important;
}

h5.ui.header{
  font-family: Nunito,Arial,Helvetica,sans-serif !important;
}

.ui.icon.button.physical-previous-button, .ui.icon.button.physical-next-button {
    position: fixed;
    bottom: 15px;
    opacity: 0.8;
    margin: 0;
    display: block;
    font-size: 13px;
    background: #006b87;
    color: white;
  }
  
.ui.icon.button.physical-previous-button:hover, .ui.icon.button.physical-next-button:hover,
.ui.icon.button.small-physical-previous-button, .ui.icon.button.small-physical-next-button {
    opacity: 0.6;
}

.ui.icon.button.physical-previous-button {
    left: 20px;
}

.ui.icon.button.physical-next-button {
    right: 20px;
}

.ui.icon.button.small-physical-previous-button, .ui.icon.button.small-physical-next-button {
    display: none;
    position: fixed;
    bottom: 15px;
    opacity: 0.8;
    margin: 0;
    background: #006b87;
    color: white;
}

.ui.container.active-tab-container {
    margin-bottom: 10px;
}

.pe-input {
    max-width: 100px;
}

.ui.label {
    max-width: 100px;
}

@media screen and (max-width: 1400px) {

    .ui.icon.button.physical-previous-button, .ui.icon.button.physical-next-button {
        display: none;
    }

    .ui.icon.button.small-physical-previous-button, .ui.icon.button.small-physical-next-button {
        display: block;
    }

    .ui.icon.button.small-physical-previous-button {
        left: 5px;
    }

    .ui.icon.button.small-physical-next-button {
        right: 5px;
    }
}

@media screen and (max-width: 400px) {

    .physical-accordion {
        height: 350px;
    }

    .ui.icon.button.small-physical-previous-button {
        left: 15px;
    }

    .ui.icon.button.small-physical-next-button {
        right: 15px;
    }
}
