.ui.icon.button.note-previous-button {
    position: fixed;
    bottom: 15px;
    opacity: 0.8;
    margin: 0;
    display: block;
    font-size: 18px;
    background-color: #006b87;
    color: white;
}

.ui.icon.button.note-previous-button:hover {
    color: white; 
    opacity: 0.6;
}

.ui.icon.button.note-previous-button {
    left: 20px;
}

.ui.icon.button.small-note-previous-button {
    display: none;
    position: fixed;
    bottom: 15px;
    opacity: 0.8;
    margin: 0;
    background-color: #006b87;
    color: white;
}

.generate-note-buttons {
    position: sticky;
    z-index: 3;
}

#generateNoteButtonsContainer.generate-note-buttons__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    box-shadow: none;
    background-color: #F9FEFF;
    margin-bottom: 1px;
    border-bottom: 1px solid #F9FEFF;
  }
  #generateNoteButtonsContainer.generate-note-buttons__container h3 img {
    width: 15px;
    margin-right: 5px;
  }
  #generateNoteButtonsContainer.generate-note-buttons__container .input {
    margin-left: 10px;
    margin-right: auto
  }
  .generate-note-wrap .ui.segment {
    padding: 30px 40px;
    box-shadow: none;
    /* border-bottom: 1px solid #D4E1E4; */
  }
  .generate-note-wrap .ui.segment .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  #generateNoteButtonsContainer.generate-note-buttons__container h3,
  .generate-note-wrap .ui.segment  .title h3 {
    margin: 0;
    font-weight: 400;
    color: #000;
  }
  .generate-note-wrap .ui.segment .title {
    border-left: 0;
  }
  .generate-note-wrap .ui.segment  .title h3 img,
  #generateNoteButtonsContainer.generate-note-buttons__container h3 img {
    width: 15px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 5px;
  }

  @media screen and (max-width: 600px) {
    .ui.icon.button.note-previous-button {
        display: none;
    }

    .ui.icon.button.small-note-previous-button {
        display: block;
    }

    .ui.icon.button.small-note-previous-button {
        left: 5px;
    }

    .generate-note-buttons {
        top: 140px;
    }
}

@media screen and (max-width: 400px) {
    .ui.icon.button.small-note-previous-button {
        left: 15px;
    }

    .generate-note-buttons {
        top: 150px;
    }
}

div.ui.segment.buttons-segment {
    padding: 20px 20px 20px 20px;
}

.ui.button.copy-button {
    background-color: gold;
}
.ui.button.copy-button:hover {
    background-color: lemonchiffon;
}
@media (max-width: 767px){
    .generate-note-buttons {
        top: 123px;
    }
}

.patientInfoWrapper ul {
  column-count: 2;
  column-gap: 10px;
  list-style-type: none;
  padding:0px;
}

.patientInfoWrapper ul li {
      letter-spacing: 0px;
      font-size: 15px;
      width: 100%;
      margin-bottom: 10px;
      margin-right: 10px;
      display: flex;
      align-items: center;
}

.patientInfoWrapper ul li label{
  font-size: 15px;
  font-weight: 600;
  width: 200px;
}
.patientInfoWrapper ul li p {
    width: calc(100% - 200px);
    padding-left: 15px;
}

@media (max-width:1200px) {
  .patientInfoWrapper ul {
    column-count: 2;
  }
  .patientInfoWrapper ul li label{
    width: 160px;
  }
  .patientInfoWrapper ul li p {
      width: calc(100% - 160px);
  }
  
}

@media (max-width:991px) {
    .generate-note-wrap .ui.segment {
        padding: 15px;
    }
    #generateNoteButtonsContainer.generate-note-buttons__container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width:768px) {
  .patientInfoWrapper ul {
    column-count: 1;
  }
}

.notes-wrapper {
  overflow: hidden;
}

.ui.buttons.generate-note-button-spacing {
  margin-right: 10px
}

.generate-note-wrap .ui.segment.generated-note-text {
  box-shadow: none;
  margin-top: 20px;
  padding: 0px 0px;
}
