@import '../../assets/scss/variables.scss';

.notesBlock {
    width: 100%;
    max-width: 1376px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    position: relative;

    @include max-screen($tablet) {
        padding-top: 30px;
    }

    @include max-screen($mobile) {
        padding: 20px 0;
    }

    h1 {
        color: $color-green-dark;
        text-align: center;
    }

    &__notesWrap {
        // margin: 20px 0;
        border-radius: $radius;
        background-color: $color-white;
        border: 1px solid $color-light;
        box-shadow: 0 0 20px rgba($color-black, 0.05);
        width: 35%;
        padding: 10px;
    }

    &__header {
        // padding: 20px 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-primary-light;

        @include max-screen($mobile) {
            padding: 20px;
        }

        &__dateWrapper {
            flex: 1;
        }

        a {
            background-color: $color-light;
            width: 40px;
            height: 40px;
            border-radius: $radius;
            margin-left: 10px;

            img {
                width: 8px;
            }
        }
    }

    &__tableWrapper {
        // max-height: calc(100vh - 535px);
        max-height: 300px;
        overflow-y: auto;
        min-height: 150px;
        overflow-x: auto;

        @include max-screen($mobile) {
            // max-height: calc(100vh - 505px);
            max-height: 300px;
            margin-right: -20px;
            padding-right: 20px;
        }

        &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba($color-primary, 0.13);
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba($color-primary-light, 0.7);
        }

        .nodata {
            text-align: center;
        }

        &__addBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #EAF3F5;
            border-radius: 10px;
            cursor: pointer;
            padding: 12px;

            img {
                width: 20px;
            }

            p {
                color: #047A9B;
                font-family: Nunito;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0.4px;
                text-align: left;
                margin-left: 5px;
            }
        }

        &__itemWrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        &__left {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                //styleName: 1440/typography/body1;
                font-family: Nunito;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.15px;
                text-align: left;
                color: black;
            }
        }

        &__right {
            align-items: flex-end;
            color: #00000099;
            font-family: Nunito;
            font-size: 14px;
            font-weight: 400;
            line-height: 20.02px;
            letter-spacing: 0.17px;
            text-align: left;
        }
    }

    &__content {
        // padding: 30px;
        padding-top: 10px;
        gap: 30px;

        @include max-screen($mobile) {
            padding: 20px;
            gap: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;

            tr {
                td {
                    padding: 10px 0;
                    width: 70%;

                    &:last-child {
                        text-align: right;
                    }

                    @include max-screen($mobile) {
                        width: 55%;
                    }

                    &.nodata {
                        text-align: center;
                    }

                    span {
                        &:hover {
                            color: $color-green-dark;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    &__notesDescription {
        border-radius: $radius;
        background-color: $color-white;
        border: 1px solid $color-light;
        box-shadow: 0 0 20px rgba($color-black, 0.05);
        width: 65%;
        margin-left: 20px;
    }
}

.checkReload {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 10;

    picture {
        width: 25px;
        height: 25px;
        padding: 6px;
        margin-right: 5px;
        border-radius: 50%;
        background-color: $color-white;

        img {
            opacity: 0.6;
        }
    }

    button {
        font-size: 12px;
        border-radius: 20px;
        padding: 5px 15px 5px 5px;
        background-color: rgba($color-primary, 0.08);
    }
}