@import '../../assets/scss/variables.scss';

.profile {
    z-index: 2;
    position: relative;
    &__user {
        gap: 10px;
        cursor: pointer;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        a {
            font-size: 14px;
            color: $color-black;
            transition: 0.3s ease-in-out;
            user-select: none;
            &:hover {
                color: $color-black;
            }
            img {
                width: 13px;
                height: 13px;
                margin-left: 5px;
            }
            &.active {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
    &__item {
        position: absolute;
        top: 45px;
        right: 0;
        left: auto;
        box-shadow: 0 2px 4px 0 $color-primary-light;
        background-color: $color-white;
        min-width: max-content;
        display: none;
        &.active {
            display: block;
        }
        a {
            font-size: 14px;
            padding: 6px 15px;
            color: $color-black;
            border-bottom: 1px solid rgba($color-primary-light, 0.4);
            opacity: 0.6;
            gap: 8px;
            &:hover,
            &.active {
                background-color: $color-light;
                color: $color-black;
                opacity: 1;
            }
            img {
                width: 15px;
                max-height: 15px;
            }
        }
    }
}
