.prescriptions > .title >.recipe {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 1rem;
}

.prescriptions > .content{
    padding-left: 1.5em !important;
    margin-top: 1rem !important;
}

.recipe-amount.lg {
    margin-top: 1rem;
}
.recipe > .recipe-amount,
.plan-expanded-input {
    padding-left: 1em !important;
    margin: 1rem 0;
}

.plan-section_response > .title {
    display: flex !important;
    align-items: center;
}

.plan-section_response.prescriptions > .title {
    align-items: flex-end;
}

.plan-section_response.prescriptions > .title > .dropdown.icon {
    margin-bottom: 1rem !important;
}

.plan-section_response > .title,
.section-title {
    border-left: none!important;
}
.plan-section_response > .content {
    padding-bottom: 1rem!important;
}

.section-title > h2 {
    background-color: #ecf3f5!important;
    font-weight: 400!important;
}

.section-body {
    padding: 1em 0.5em!important;
}

.plan-main-input {
    display: inline !important;
}

.ui.form.transparent > textarea {
    border: none;
}

.accordion.plan-section {
    margin: 1.5rem 0;
}

.delete-btn-wrapper {
    align-items: center;
}

.delete-btn {
    cursor: pointer;
}


.ui.form > textarea {
    height: 12rem !important;
}

.prescriptions .active.title {
    border-bottom: none !important;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
  
#myInput {
    width: 23vw;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    height: 200px;
    overflow-y: scroll;
  }

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }



.ui.input[type=text] {
    background-color: #f1f1f1;
    width: 100px;
    height: 100px;
  }

.ui.icon.button.previous-button, .ui.icon.button.next-button {
    position: sticky !important;
    bottom: 0;
    opacity: 0.8;
    margin: 0;
    display: block;
    font-size: 13px;
    background: #c8e2ea;
}

.ui.icon.button.previous-button {
    margin-left: -10.8em;
}

.ui.icon.button.next-button {
    margin-right: -10.8em;
}

.ui.icon.button.previous-button:hover, .ui.icon.button.next-button:hover {
    opacity: 1;
    background: #c8e2ea;
}

.ui.icon.button.small-previous-button, .ui.icon.button.small-next-button {
    display: none;
    position: sticky !important;
    bottom: 0;
    opacity: 0.8;
    margin: 0;
    background: #c8e2ea;
}

@media screen and (max-width: 1300px) {
    .ui.icon.button.previous-button, .ui.icon.button.next-button {
        display: none;
    }

    .ui.icon.button.small-previous-button, .ui.icon.button.small-next-button {
        display: block;
    }
}

@media screen and (max-width: 400px) {

    #myInput {
        width: 70vw;
        border: none;
    }
}