.recipe-amount {
    margin-top: 1rem;
}
.section-title {
    border-left: none!important;
}

.section-title > h2 {
    background-color: #ecf3f5!important;
    font-weight: 500!important;
}

.section-body {
    padding: 1em 0.5em!important;
}