.prescriptions > .title >.recipe {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 1rem;
}

.prescriptions > .content{
    padding-left: 1.5em !important;
    margin-top: 1rem !important;
}

.recipe-amount.lg {
    margin-top: 1rem;
}
.recipe > .recipe-amount,
.plan-expanded-input {
    padding-left: 1em !important;
    margin: 1rem 0;
}

.plan-section_response > .title {
    display: flex !important;
    align-items: center;
}

.plan-section_response.prescriptions > .title {
    align-items: flex-end;
}

.plan-section_response.prescriptions > .title > .dropdown.icon {
    margin-bottom: 1rem !important;
}

.plan-section_response > .title,
.section-title {
    border-left: none!important;
}
.plan-section_response > .content {
    padding-bottom: 1rem!important;
}

.section-title > h2 {
    background-color: #006b87!important;
    font-weight: 400!important;
}

.accordion.styled.plan-section > .title.section-title > h2 {
    color: white;
}

.ui.dropdown:not(.button)>.default.text {
    color: #707575 !important;
}

.section-body {
    padding: 1em 0.5em!important;
}

.plan-main-input {
    display: inline !important;
}

.ui.form.transparent > textarea {
    border: none;
}

.accordion.plan-section {
    margin: 1.5rem 0;
}

.delete-btn-wrapper {
    align-items: center;
}

.delete-btn {
    cursor: pointer;
}

.prescriptions .active.title {
    border-bottom: none !important;
}

.ui.icon.button.plan-previous-button, .ui.icon.button.plan-next-button {
    position: fixed;
    bottom: 15px;
    opacity: 0.8;
    margin: 0;
    display: block;
    font-size: 13px;
    background: #006b87;
    color: white;
  }
  
  .ui.icon.button.plan-previous-button:hover, .ui.icon.button.plan-next-button:hover {
    opacity: 0.6;
  }
  
  .ui.icon.button.plan-previous-button {
    left: 20px;
  }
  
  .ui.icon.button.plan-next-button {
    right: 20px;
  }
  
  .ui.icon.button.small-plan-previous-button, .ui.icon.button.small-plan-next-button {
    display: none;
    position: fixed;
    bottom: 15px;
    opacity: 0.8;
    margin: 0;
    background: #006b87;
    color: white;
  }
  
  @media screen and (max-width: 1400px) {
    .ui.icon.button.plan-previous-button, .ui.icon.button.plan-next-button {
      display: none;
    }
  
    .ui.icon.button.small-plan-previous-button, .ui.icon.button.small-plan-next-button {
      display: block;
    }
    
    .ui.icon.button.small-plan-previous-button {
      left: 5px;
    }
  
    .ui.icon.button.small-plan-next-button {
      right: 5px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .ui.icon.button.small-plan-previous-button {
      left: 15px;
    }
  
    .ui.icon.button.small-plan-next-button {
      right: 15px;
    }
  }
  