@media (max-width: 767px) {
    .allergies-section .ui.table {
        border: 0;
        padding-bottom: 20px;
    }
    .allergies-section .ui.table tr td {
        padding: 0 0 20px !important;
    }
    .allergies-section .ui.table tr:last-child td:last-child .action-btn {
        border-bottom: 0 !important;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .allergies-section table thead {
        display: none !important;
    }
    .allergies-section .ui.table:not(.unstackable) tr {
        box-shadow: none !important;
        padding: 0;
    }
    .allergies-section
        .opt-dropdown
        .dropdown__control
        .dropdown__value-container {
        border-bottom: 0 !important;
    }
    .allergies-section .dropdown__value-container > div {
        width: 100%;
    }
    .allergies-section textarea[type='comments']#row,
    .allergies-section input[type='text'] {
        height: 44px;
        color: #000;
        max-width: 100%;
        font-size: 16px;
        text-align: left;
        font-weight: 400;
        opacity: 1 !important;
        width: 100% !important;
        padding: 11px 14px !important;
        border-radius: 10px !important;
        box-sizing: border-box !important;
        border: 1px solid #c3dbe1 !important;
    }
    .allergies-section .custom-dropdown__control {
        margin-top: 5px !important;
    }
    .family-medical .option-block-item {
        padding: 10px 0;
    }
    .family-medical .option-block-item .field {
        margin-bottom: 0 !important;
    }
    .allergies-section input.custom-dropdown__input {
        height: auto !important;
        padding: 0 !important;
        border: 0 !important;
    }
    .allergies-section textarea[type='comments']#row::placeholder,
    .allergies-section input[type='text']::placeholder {
        color: rgba(0, 0, 0, 0.3) !important;
    }
    .allergies-section textarea[type='comments']#row {
        height: 80px;
    }
    .allergies-section .content-input,
    .allergies-section .dropdown__input {
        width: 100%;
    }
    .allergies-section .dropdown__single-value {
        padding: 11px 15px !important;
    }
    .allergies-section .dropdown__placeholder {
        padding: 13px 15px;
        overflow: hidden;
        font-size: 16px;
        white-space: nowrap;
    }
    .allergies-section .ui.styled.accordion,
    .allergies-section .ui.styled.accordion .accordion {
        box-shadow: none;
    }
    .allergies-section .ui.form {
        padding: 7px 10px 0;
    }
    .allergies-section .dropdown__indicators {
        display: none;
    }
    .allergies-section .dropdown__input-container {
        display: block;
        margin: 0;
    }
    .allergies-section .dropdown__input-container::after {
        display: none;
    }
    .allergies-section .dropdown__value-container,
    .allergies-section .ui.form {
        padding-left: 0;
        padding-right: 0;
    }
    .allergies-section tr td label {
        font-size: 16px;
        display: block;
        color: #000000;
        font-weight: 400;
        line-height: 1;
    }
    .allergies__label {
        padding-left: 0;
        margin-left: 0;
    }
}
