.patient-history-tab {
  font-size: 13px;
}

.ui.selection.dropdown .menu {
  max-height: 184px;
}

.tab-content {
  margin-top: 25px;
  display: block;
}

.condition-error {
  margin-top: 0.5rem;
  color: #b03060;
  font-style: italic;
}