.patient-history-tab {
  font-size: 13px;
}

.ui.selection.dropdown .menu {
  max-height: 184px;
}

.tab-content {
  margin-top: 25px;
  display: block;
}

.condition-error {
  margin-top: 0.5rem;
  color: #b03060;
  font-style: italic;
}

.patient-history-menu {
  position: sticky;
  z-index: 1;
  background-color: white;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
}

.ui.icon.button.previous-button, .ui.icon.button.next-button {
  position: sticky !important;
  bottom: 0;
  margin: 0;
  opacity: 0.8;
  display: block;
  font-size: 13px;
  background: #c8e2ea;
}

.ui.icon.button.previous-button:hover, .ui.icon.button.next-button:hover {
  opacity: 1;
  background: #c8e2ea;
}

.ui.icon.button.previous-button {
  margin-left: -12.8em;
}

.ui.icon.button.next-button {
  margin-right: -12.8em;
}

