.table-display {
    table-layout: fixed;
}

.table-header > p {
    text-align: center;
    font-size: 0.95em;
}

.ui.input.content-text {
    font-size: 0.95em;
}

.ui.input.drug-text {
    font-size: 1em;
}

.ui.input.content-input-computer {
    letter-spacing: 0;
}

.ui.input.content-dropdown {
    padding-bottom: 0;
}

.ui.input.medication {
    min-width: 10rem;
}

.ui.input.first-content-input {
    margin: 0 1rem 0 1.5rem;
}

.ui.selection.dropdown.side-effects,
.ui.selection.dropdown.side-effects:hover,
.ui.active.selection.dropdown.side-effects,
.ui.upward.active.selection.dropdown.side-effects:hover {
    border: none;
    box-shadow: none;
    padding: 0px;
}

a.ui.label, a.ui.active.label {
    max-width: 100%;
}

.ui.selection.dropdown .menu {
  min-width: max-content;
}

@media screen and (max-width: 900px){
  .ui.selection.dropdown .menu {
    min-width: fit-content;
  }
}


.ui.input.content-text, .ui.input.drug-text {
    font-size: 12px;
}

.ui.multiple.search.dropdown.side-effects > .text {
    margin-left: 0;
    letter-spacing: 0;
    padding-left: 0;
}

.ui.multiple.search.dropdown.side-effects > input.search {
    margin-left: -.4rem;
}

.ui.input > .dropdown.side-effects-text {
    width: 100%;
}

.ui.dropdown.condition-input {
    font-size: 15px;
    margin-bottom: 5px;
    outline: none;
}

.medications-content-input-label {
    border: none !important;
    font-size: 1rem !important;
}

.reason-wrapper {
    display: inline-block;
    padding-left: 5rem;
}

.medications-desktop-accordion-title {
    border: none !important;
    margin: 0 !important;
}

.medications-desktop-accordion-dropdown-icon {
    position: fixed;
}

.margin {
    margin-top: 10px;
}

.drug-input {
    width: 200px;
}

#dose-input, #width-full {
    width: 100%;
}

#dose-input-div, #schedule-input-div {
    margin-left: 30px;
    width: 135px;
}

#schedule-input {
    margin-left: -40px;
    width: 195px;
}

#reason-input {
    margin-top: 0;
    width: 100%;
}

#reason-input-div {
    margin-left: -110px;
}

#reason-dropdown {
    margin-left: 10px;
}

#currently-taking-btns {
    text-align: left;
    width: 100%;
}

#currently-taking {
    margin-top: 10px !important;
}

.for-text {
    margin-left: 40px;
}

/** For smaller screens e.g. iPhone 6/7/8 */
@media (max-width: 425px) {
    .reason-wrapper {
        display: block;
        margin-left: 2em;
    }
}

@media (max-width: 994px) {
    .padding-bottom {
        padding-bottom: 10px !important;
    }

    .drug-input {
        margin-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #dose-input, #schedule-input {
        width: 100%;
        margin-top: 10px;
        margin-left: 10px;
    }

    #dose-input-div, #schedule-input-div {
        margin-left: -10px;
        width: 100%;
    }

    #reason-input {
        margin-top: 10px;
        width: 100%;
    }

    #reason-input-div {
        margin-left: 0px;
        margin-top: 10px;
        width: 100%;
    }

    #currently-taking {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1199px) and (min-width: 995px) {
    #dose-input-div {
        margin-left: 5px;
        width: 100px;
    }

    #schedule-input {
        width: 150px;
    }

    #schedule-input-div {
        width: 0;
        margin-left: 15px;
    }

    #reason-input-div {
        margin-left: -60px;
        width: 100%;
    }
}