@import '../../../../assets/scss/variables.scss';
.medication {
    padding-top: 20px;
    aside {
        width: calc(100% - 50px);
    }
    img {
        width: 18px;
    }
    table {
        width: 100%;
        tr {
            td {
                padding: 5px 10px;
                @include max-screen($mobile) {
                    width: 100%;
                    padding: 5px 0;
                    display: block;
                }
                &:nth-child(1) {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                    @include max-screen($mobile) {
                        padding-top: 10px;
                        border-bottom: 1px solid $color-border;
                    }
                }
            }
        }
    }
    h3 {
        @include max-screen($tablet) {
            font-size: 12px;
        }
        @include max-screen($mobile) {
            width: 100%;
            text-align: center;
        }
    }
    &__label {
        white-space: nowrap;
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
    &__dropdown {
        width: 250px;
        @include max-screen($desktop) {
            width: 200px;
        }
        @include max-screen($tablet) {
            width: 160px;
        }
        @include max-screen($mobile) {
            width: 100%;
        }
    }
    &__input {
        width: 200px;
        @include max-screen($tablet) {
            width: 100%;
        }
        > div {
            width: 100% !important;
            > div {
                @include max-screen($mobile) {
                    width: 100% !important;
                    margin: 0 !important;
                }
            }
        }
    }
    &__wrap {
        @include max-screen($tablet) {
            display: flex;
        }
    }
    &__field {
        @include max-screen($mobile) {
            width: 100%;
        }
        input {
            @include max-screen($tablet) {
                min-width: 100%;
                width: auto !important;
            }
        }
        textarea {
            @include max-screen($tablet) {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }
        }
    }
}
