.button-item {
    margin-top: 12px;
    margin-left: 30px;
    margin-bottom: 12px;
    width: 100%
}

.rectangle_text {
    text-align: center;
    font-weight: 600;
    display: inline-block;
    background-color: #96bee1;
    width: 220px;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 14px;
}

.button {
    width: 50px;
    display: inline-block;
    background-color: whitesmoke;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 20px;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.tag_text {
    border-radius: 25px;
    border: none;
    background-color: rgba(190, 190, 190, 0.85);
    color: white;
    font-size: 14px;
    padding: 3px 9px;
    margin-right: 5px;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 5px;
}

.tag_text:hover {
    background-color: lightslategrey;
}