.ui.card:first-child {
  margin-top: 1rem;
}

.ros-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -2rem;
  width: auto;
}

.ros-column {
  padding-left: 2rem;
  background-clip: padding-box;
}

.ros-system {
  margin-bottom: 2rem !important;
  width: auto !important;
  overflow-wrap: break-word;
}

.ui.grid > .row > .column.no-padding {
  padding: 0;
}

.ui.icon.button.ros-previous-button, .ui.icon.button.ros-next-button {
  position: sticky !important;
  bottom: 0;
  opacity: 0.8;
  margin: 0;
  display: block;
  font-size: 13px;
  background: #c8e2ea;
}

.ui.icon.button.ros-previous-button:hover, .ui.icon.button.ros-next-button:hover {
  opacity: 1;
  background: #c8e2ea;
}

.ui.icon.button.ros-previous-button {
  margin-left: -13em;
}

.ui.icon.button.ros-next-button {
  margin-right: -13em;
}

.ui.icon.button.small-ros-previous-button, .ui.icon.button.small-ros-next-button {
  display: none;
  position: sticky !important;
  bottom: 0;
  opacity: 0.8;
  margin: 0;
  background: #c8e2ea;
}

.ui.container.active-tab-container {
  margin-bottom: 10px;
}

@media screen and (max-width: 1300px) {
  .ui.icon.button.ros-previous-button, .ui.icon.button.ros-next-button {
      display: none;
  }

  .ui.icon.button.small-ros-previous-button, .ui.icon.button.small-ros-next-button {
      display: block;
  }
  
  .ui.icon.button.small-ros-previous-button {
    margin-left: -2.8em;
  }

  .ui.icon.button.small-ros-next-button {
    margin-right: -2.8em;
  }
}

@media screen and (max-width: 400px) {
  .ui.icon.button.small-ros-previous-button {
    margin-left: 0;
  }

  .ui.icon.button.small-ros-next-button {
    margin-right: 0;
  }
}
