.ui.card:first-child {
    margin-top: 1rem;
}

.ros-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -2rem;
    width: auto;
}

.ros-column {
    padding-left: 2rem;
    background-clip: padding-box;
}
.ros-column aside {
    margin-left: auto;
}
.ros-column p {
    margin-right: auto !important;
}
.ros-system {
    margin-bottom: 2rem !important;
    width: auto !important;
    overflow-wrap: break-word;
}

.ui.segment.ros-segments {
    padding: 1rem 1.6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.ros-segments .ui.grid > .row {
    justify-content: space-between;
}

.ros-segments .header-titles {
    margin-bottom: 0;
}

.ui.grid > .row > .column.no-padding {
    padding: 0;
}

.ui.icon.button.ros-previous-button,
.ui.icon.button.ros-next-button {
    position: fixed;
    bottom: 15px;
    opacity: 0.8;
    margin: 0;
    display: block;
    font-size: 18px;
    background: #006b87;
    color: white;
}

.ui.icon.button.ros-previous-button:hover,
.ui.icon.button.ros-next-button:hover {
    opacity: 0.6;
}

.ui.icon.button.ros-previous-button {
    left: 20px;
}

.ui.icon.button.ros-next-button {
    right: 20px;
}

.ui.button.add-option-button {
    margin-top: 10px;
}

.ui.icon.button.small-ros-previous-button,
.ui.icon.button.small-ros-next-button {
    display: none;
    position: fixed;
    bottom: 15px;
    opacity: 0.8;
    margin: 0;
    background: #006b87;
    color: white;
}

.ui.container.active-tab-container {
    margin-bottom: 10px;
}
.survey-chips {
    margin-top: 10px;
}
.survey-chips .ui.button.hpi-chiefcomplaint-button {
    margin-bottom: 5px;
    width: calc(33.3% - 10px);
}
.survey-chips .ui.button.hpi-chiefcomplaint-button-selected {
    margin-bottom: 5px;
    width: calc(33.3% - 10px);
}
@media screen and (max-width: 992px) {
    .survey-chips .ui.button.hpi-chiefcomplaint-button {
        width: calc(50% - 10px);
    }
    .survey-chips .ui.button.hpi-chiefcomplaint-button-selected {
        width: calc(50% - 10px);
    }
}
@media screen and (max-width: 700px) {
    .ui.container.active-tab-container {
        margin-top: 30px;
    }
    .survey-chips .ui.button.hpi-chiefcomplaint-button {
        width: calc(100% - 10px);
    }
    .survey-chips .ui.button.hpi-chiefcomplaint-button-selected {
        width: calc(100% - 10px);
    }
}

.ui.input.transparent.misc {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .ui.icon.button.ros-previous-button,
    .ui.icon.button.ros-next-button {
        display: none;
    }

    .ui.icon.button.small-ros-previous-button,
    .ui.icon.button.small-ros-next-button {
        display: block;
    }

    .ui.icon.button.small-ros-previous-button {
        left: 5px;
    }

    .ui.icon.button.small-ros-next-button {
        right: 5px;
    }
}

@media screen and (max-width: 400px) {
    .ui.icon.button.small-ros-previous-button {
        left: 15px;
    }

    .ui.icon.button.small-ros-next-button {
        right: 15px;
    }
}

.ui.button.select-all-negative.pe-ros-button {
    height: 34px;
    overflow: hidden;
    border-radius: 15px;
    margin: 10px auto 15px;
    position: relative;
    padding: 10px;
    color: #000;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    border: 1px solid var(--color-primary-light);
    box-shadow: none !important;
    outline: none;
}
.ui.button.select-all-negative.pe-ros-button:hover,
.ui.button.select-all-negative.pe-ros-button.active {
    color: #fff !important;
    border-color: var(--color-primary);
    background-color: var(--color-primary) !important;
}
.button-spacing button {
    margin: 5px !important;
}

.yes-no-option {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0 !important;
    justify-content: space-between;
}
.yes-no-option p {
    text-align: left;
    margin-bottom: 0;
    padding-right: 10px;
    width: calc(100% - 90px);
}
.yes-no-option aside {
    max-width: 90px;
}

@media (max-width: 767px) {
    .ui.icon.button.small-ros-previous-button,
    .ui.icon.button.small-ros-next-button {
        padding: 0;
        width: 38px;
        height: 38px;
    }
    .ui.icon.button.small-ros-previous-button i,
    .ui.icon.button.small-ros-next-button i {
        font-size: 15px !important;
    }
}
