.landing-page-columns {
    height: 550px !important;
    max-width: 350px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.landing-page-columns-mobile {
    height: 350px !important;
    max-width: 500px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.my-notes-modal {
    width: 100%;
    height: 700px;
}

/* Columns of all modal grid*/

.months-column {
    width: 200px !important;
    height: 670px;
    padding-right: 0px !important;
}

.date-column {
    width: 340px !important;
    height: 670px;
    padding-left: 5px !important;
}

.details-column {
    width: 300px !important;
    height: 670px;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-left: 30px !important;
    padding-right: 0px !important;
}

.template-column {
    width: 340px !important;
    height: 600px;
    margin-right: 10px;
}


/* The placeholder segment in each column */
.list-placeholder {
    width: 110% !important;;
    height: 90% !important;
    justify-content: start !important;
    overflow: auto !important;
}

.list-placeholder-templates {
    width: 110% !important;;
    height: 80% !important;
    justify-content: start !important;
    overflow: auto !important;
}

.right-bottom-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.landing-boxes {
    display: flex;
    justify-content: space-between;
}

.landing-boxes.rows {
    flex-direction: column;
    margin: 4rem auto;
    align-items: center;
}

.landing-boxes.columns {
    flex-direction: row;
    margin: 2vh 2vw;
}

.landing-col {
    width: 30%;
    margin: 20vh auto;
}

.landing-col.multiple {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing-box {
    background-color: white;
    color: #0d5e70;
    border: 2px solid #6DA3B1;
    border-radius: 15px;
    padding: 10vh 5vw;
    text-align: center;
    transition: all .1s ease-in-out;
}

.landing-box:hover {
    box-shadow: 0px 5px 15px -2px #0d5e70;
    transform: scale(1.015);
    border: 2px solid #0d5e70;
}

.landing-box.top,
.landing-box.bottom {
    padding: 5vh 2.5vw;
    flex: 1;
}

.landing-box.top {
    margin-bottom: 0.5rem;
}

.landing-box.bottom {
    margin-top: 0.5rem;
}

.ui.animated.button.landing {
    margin: 4vh 1vw;
}

.icons {
    position: absolute;
    top: 0;
    left: 0;
}

.text {
    margin: 1vh 1vw;
    color: #0d5e70
}

.smaller-text {
    color: #6DA3B1
}