.ui.selection .dropdown.icon:not(.clear) {
    visibility: hidden;
}

.ui.selection .dropdown.icon.clear {
    font-family: Dropdown;
    transform: none !important;
}

.ui.selection .dropdown.icon.clear::before {
    content: '\f00d';
}

#row {
    border: none !important;
    border-width: 0 !important;
    border-color: transparent !important;
}

#add-row {
    width: 50%;
    padding: 10px;
    margin-left: 10px;
}

#procedure-div {
    width: 100%;
    margin: auto;
}

#table-rows {
    padding: 10px;
}

.delete-surgery {
    position: relative;
    top: 50%;
    left: 50%;
}
