.App {
  text-align: center;
  /*display:flex; flex-direction:row;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NextButton {
  border: None;
  display:inline-block;
  color:#000000;
  background-color: #f1f1f1;
  font-family:Arial;
  font-size:23px;
  padding: 8px 16px;
  text-decoration:none;
  border-radius: 50%;
  margin-right: 50px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.tabBar {
  overflow: hidden;
  border: 1px solid #ffffff;
  background-color: #f1f1f1;
}

.tab {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-weight: normal;
}

.tab:hover {
  background-color: #ddd;
}

.tab.active {
  font-weight: bold;
  border-bottom: 3px solid mediumblue;
}

.topnav .icon {
  margin-left: 60px;
  margin-top: 5px;
  display: none;
}

/* When the screen is less than 750 pixels wide, hide all links.
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 650px) {
  .topnav a {display: none;}
  .topnav a.icon {
    display: block;
  }
}

