.button-item {
    margin-left: 30px;
    width: 100%
}

.button {
    text-align: center;
    font-weight: 400;
    border-radius: 5px;
    display: inline-block;
    background-color: white;
    border: none;
    padding: 15px 15px;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 20px;
}

.button:hover {
    font-weight: 600;
}

.button_yesno {
    border-radius: 25px;
    background-color: whitesmoke;
    border: none;
    padding: 3px 9px;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 8px;
}

.button_question {
    border-radius: 25px;
    background-color: whitesmoke;
    border: none;
    padding: 3px 9px;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 2px
}

.button_question:hover {
    background-color: #E6F1F6;
}

.tag_text {
    border-radius: 25px;
    background-color: white;
    border: solid 0.5px rgb(182, 181, 181);
    color: #8b8b8b;
    font-size: 14px;
    padding: 3px 9px;
    margin-right: 5px;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 10px;
}

.tag_text:hover {
    background-color: rgb(240, 247, 250) !important;
}

.field {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}


