.button-item {
    margin-top: 12px;
    margin-left: 30px;
    margin-bottom: 12px;
    width: 100%
}

.rectangle_text {
    text-align: center;
    font-weight: 400;
    display: inline-block;
    background-color: #aeaeae;
    height: 48px;
    width: 320px;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 14px;
    border-radius: 5px
}

.button {
    width: 50px;
    border-radius: 5px;
    display: inline-block;
    background-color: whitesmoke;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 20px;
}

.button_yesno {
    border-radius: 25px;
    background-color: whitesmoke;
    border: none;
    padding: 3px 9px;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 8px;
}

.button_question {
    border-radius: 25px;
    background-color: whitesmoke;
    border: none;
    padding: 3px 9px;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 2px
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.button_question:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.tag_text {
    border-radius: 25px;
    border: none;
    background-color: rgba(190, 190, 190, 0.85);
    color: white;
    font-size: 14px;
    padding: 3px 9px;
    margin-right: 5px;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 10px;
}

.tag_text:hover {
    background-color: lightslategrey;
}

.field {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}


