@font-face {
    font-family: 'Nunito';
    src: url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
}

h1, h2, h3, h4 {
    color: #0d5e70;
}

.ui.segment {
    transition: box-shadow 100ms;
}

.ui.segment:hover {
    box-shadow: 0 10px 40px 5px RGBA(0, 128, 159, 0.2);;
}
