@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Pompadour';
    src: url('/fonts/Pompadour.otf');
}

// start styling
@import 'assets/scss/variables.scss';
@import 'assets/scss/base';
@import 'assets/scss/flex';
@import 'assets/scss/button';
@import 'assets/scss/typography';
@import 'assets/scss/dropdown';
@import 'assets/scss/accordion';
// end styling

.ui.header {
    color: #0d5e70;
}

.ui.segment {
    transition: box-shadow 100ms;
}

.footer-copyright {
    text-align: center;
    font-size: medium;
    align-items: center;
    color: #147a9b;
    position: static;
    padding-bottom: 45px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.ui.segment:hover {
    box-shadow: 0 10px 40px 5px RGBA(0, 128, 159, 0.2);
}

.main {
    position: relative;
    display: flex;
    justify-content: space-between;

    @media (min-width: 768px) {
        flex: 1;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    overflow-y: auto;
    z-index: 20;

    @media (max-width: 768px) {
        padding-left: 64px;
    }
}

.children {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
