@import '../../../../assets/scss/variables.scss';
.familyHistoryBlock {
    &__row {
        @include max-screen($mobile) {
            display: none !important;
        }
        td {
            @include min-screen($mobile) {
                padding-top: 0 !important;
            }
            border-top: 0 !important;
        }
    }
    &__living {
        padding-top: 20px;
        @include min-screen($mobile) {
            display: none !important;
        }
    }
}
