.family-hx-note-item {
    width: 100vw;
    padding-left: 2rem;
}

.family-member-header {
    display: inline;
}

.condition-header {
    margin-bottom: .5rem !important;
}

.condition-name {
    margin-right: .8rem;
    font-size: 15px;
    min-width: 12rem;
}

.condition-info {
    margin: auto 2.3rem;
}

.dropdown-container {
    margin-top: 30px;
    margin-bottom: 10px;
}

.dropdown-component-container {
    margin-bottom: 10px;
}

.ui.fluid.dropdown.dropdown-inline {
    display: inline-table;
    width: 45%;
    margin-right: 50px;

}

.dropdown-inline-mobile {
    display: inline-table;
    width: 60vw !important;
}

.condition-info-container {
    margin-bottom: 30px;
}

.text-area {
    height: auto !important;
    width: 500px;
    margin-bottom: .5rem !important;
}

.display {
    display: block;
}

.hide {
    display: none;
}

.ui.grid > .row > .column > .no-padding {
    padding: 0;
}

.condition-divider {
    margin-top: 25px ;
    height: 5px ;
    width: 100% ;
    background-color:#707070;
    opacity: 60%;
    border: none;
}

@media screen and (max-width: 767px) {
    .ui.grid > .column:not(.row).family-member-input {
        padding-bottom: 0 !important;
    }
    
    .ui.grid > .column:not(.row).cod-input {
        padding-top: .4rem !important;
        padding-bottom: 1.5rem !important;
    }
}

.living-toggle-row {
    padding-top: 0rem !important;
    padding-bottom: 28px !important;
}

.living-toggle-title {
    padding-bottom: 5px;
}

.comments-box-mobile {
    padding-top: 0rem !important;
    /* max-width: 70vw; */
    width: 60vw;
}

.family-history-toggle {
    display: flex
}

.family-history-header-mobile {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    min-width: 20em;
}

.delete-family-member-row-mobile {
    white-space: nowrap;
}