.family-hx-note-item {
    width: 100vw;
    padding-left: 2rem;
}

.family-member-header {
    display: inline;
}

.condition-header {
    margin-bottom: .5rem !important;
}

.condition-name {
    margin-right: .8rem;
    font-size: 15px;
    min-width: 12rem;
}

.condition-info {
    margin: auto 2.3rem;
    padding-bottom: 20px;
}

.dropdown-container {
    margin-top: 30px;
    margin-bottom: 10px;
}

.dropdown-component-container {
    margin-bottom: 10px;
}

.ui.fluid.dropdown.dropdown-inline {
    display: inline-table;
    width: 45%;
    margin-right: 50px;

}

.dropdown-inline-mobile {
    display: inline-table;
    width: 100%;
}

.condition-info-container {
    margin-bottom: 30px;
}

.text-area {
    width: 500px;
    margin-bottom: .5rem !important;
}

.display {
    display: block;
}

.hide {
    display: none;
}

.ui.grid > .row > .column > .no-padding {
    padding: 0;
}

.ui.divider.divider-style {
    margin-top: 25px;
}

.ui.grid .row+.ui.divider{
  margin: 0.5rem 0.5rem;
  padding-bottom: 10px;
}

.content-style {
    margin-top: 25px;
}

.family-member {
    display: inline;
}

.social-history-content .ui.divider {
    margin-bottom: 25px;
}

#alcohol-header, #drugs-header {
    border-left: 0;
}
.error-input{
    color: red;
    margin-top: 5px;
    margin-left: 5px;
    font-style: italic;
}

@media screen and (max-width: 767px) {
    .ui.form.family-hx-note-item {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .family-hx-note-item .inline.fields.condition-header {
        justify-content: space-between;
    }
    .family-hx-note-item .condition-info {
        margin-left: 0;
        margin-right: 0;
    }
    .ui.grid > .column:not(.row).family-member-input {
        padding-bottom: 0 !important;
    }

    .ui.grid > .column:not(.row).cod-input {
        padding-top: .4rem !important;
        padding-bottom: 1.5rem !important;
    }

    .text-area.comments-box-mobile textarea {
        height: auto;
    }

    .dropdown-component-container .ui.grid .row {
        padding: 0 1rem;
    }

    .condition-header textarea {
        height: auto !important;
    }

    #title-div {
        width: 85%;
        white-space: nowrap;
    }
    
    #dropdown-display {
        display: inline-block;
    }
    
    #btn-display {
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;
    }
    
    #contents-div {
        width: 100%;
        white-space: nowrap;
    }
    
    #contents-label {
        display: inline-block;
        margin-right: 15px;
    }
    
    #num-per-week {
        width: 50%;
    }

    #drink-size-contents {
        display: inline-block;
        width: 70%;
    }

    #mode-of-delivery {
        width: 100%;
    }
}

.living-toggle-row {
    padding-top: 0rem !important;
    padding-bottom: 28px !important;
}

.living-toggle-title {
    padding-bottom: 5px;
}

.comments-box-mobile {
    padding-top: 0rem !important;
    /* max-width: 70vw; */
    width: 100%;
}

.family-history-toggle {
    display: flex
}

.family-history-header-mobile {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    min-width: 20em;
}

.delete-family-member-row-mobile {
    white-space: nowrap;
}

.ui.grid>.row {
  padding-bottom: 0rem;
}

.ui.grid {
  margin-bottom: 0rem;
}

