.murmurs {
    margin-top: 20px;
}

.phase-row{
    margin: 10px
}

.expand-specific {
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.murmurs-x {
    float: right;
}

.specific-group {
    margin: 10px;
}

.div-35 {
    margin-left: 35px;
}

.div-30 {
    margin-left: 30px;
}

.div-15 {
    margin-left: 15px;
}

