.ui.input > input::-webkit-input-placeholder {
    color: #DDDDDD;
}

.ui.input > input::-moz-placeholder {
    color: #DDDDDD;
}

.ui.input > input:-ms-input-placeholder {
    color: #DDDDDD;
}

.ui.input.content-input {
    margin: .75rem 1rem 0 1.5rem;
    letter-spacing: 0;
}

.ui.input.content-input-surgical {
    letter-spacing: 0;
    width: 90%;
}

.ui.input.content-input-computer {
    letter-spacing: 0;
}

.ui.input.content-dropdown {
    padding-bottom: 0;
}

.ui.input.medication {
    min-width: 10rem;
}

.ui.input.first-content-input {
    margin: 0 1rem 0 1.5rem;
}

.ui.styled.accordion .active.title {
    border-bottom: 1px solid rgba(34, 36, 38, .05);
}

.inline-form {
    display: inline;
}

.ui.styled.accordion .content {
    padding: 0 1rem 1rem;
}

.table-display {
    table-layout: fixed;
    overflow-x: auto;
}

.table-row-text {
    outline: transparent;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
}

.ui.selection.dropdown.side-effects,
.ui.selection.dropdown.side-effects:hover,
.ui.active.selection.dropdown.side-effects,
.ui.upward.active.selection.dropdown.side-effects:hover {
    border: none;
    box-shadow: none;
}


.ui.input.content-text, .ui.input.drug-text {
    font-size: 12px;
}


.ui.multiple.search.dropdown.side-effects > .text {
    margin-left: 0;
    letter-spacing: 0;
    padding-left: 0;
}

.ui.multiple.search.dropdown.side-effects > input.search {
    margin-left: -.4rem;
}

.ui.dropdown.condition-input {
    font-size: 15px;
    margin-bottom: 5px;
    outline: none;
}

.year-error {
    color: rgb(167, 142, 142);
}

.table-year-input {
    position: relative;
    display: inline-block;
}
  
.table-year-input .error {
    width: 12.5rem;
    background-color: #9f3a38;
    color: #fff;
    text-align: center;
    border-radius: 2.5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 75%;
    left: 50%;
    margin-left: -60px;
    transition: opacity 0.3s;
}

.table-year-input .error::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 25%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #9f3a38 transparent;
}

.table-year-input.mobile {
    display: block;
}

.table-year-input.mobile .error {
    width: 85%;
    padding: 10px;
    top: 120%;
    left: 20%;
}

.table-year-input.mobile .error::after {
    left: 20%;
}
/** For smaller screens e.g. iPhone 6/7/8 */
@media (max-width: 425px) {
    .reason-wrapper {
        display: block;
        margin-left: 2em;
    }
}
