.ui.button.previous-button, .ui.button.next-button {
    position: sticky !important;
    bottom: 0;
    opacity: 0.8;
    margin: 0;
    display: block;
    font-size: 13px;
    background: #c8e2ea;
}

.ui.button.previous-button:hover, .ui.button.next-button:hover {
    opacity: 1;
    background: #c8e2ea;
}

.ui.button.small-previous-button, .ui.button.small-next-button {
    display: none;
    position: sticky !important;
    bottom: 0;
    opacity: 0.8;
    margin: 0;
    background: #c8e2ea;
}

.edit-note-nav-menu {
    padding-top: 20px;
}

.ui.container.active-tab-container {
    margin-bottom: 10px;
}

@media screen and (max-width: 1300px) {
    .ui.button.previous-button, .ui.button.next-button {
        display: none;
    }

    .ui.button.small-previous-button, .ui.button.small-next-button {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .edit-note-nav-menu {
        padding-bottom: 100px;
        padding-top: 30px;
        height: 230px;
    }
}