.save-button {
  border-radius: 50px !important;
  margin-left: 20px !important;
}

.collapsed-menu-tabs {
  padding-left: 2rem;
}

.expanded-menu-tabs {
  display: flex;
  justify-content: center;
}

.expanded-menu-tabs > .active {
  border-radius: 1rem 1rem !important;
}


.stuck-container .note-name-menu {
  padding-top: 10px !important;
}

.note-name-menu input {
  text-align: right !important;
  color: teal !important;
}

.menu-tab {
  box-shadow: 0 10px 20px -3px RGBA(0, 128, 159, 0.2) !important;
  padding-top: 0 !important;
}
.menu-tab .attached {
  border-bottom: 0 !important;
}

.menu-tab .active.item {
  font-weight: normal !important;
  /*background-color: RGBA(0, 128, 159, 0.25) !important;*/
  background-color: #CDE1E9 !important;
  margin-bottom: -3px !important;
  border-bottom: 0 !important;

}

.note-name-menu {
  background-color: white;
  margin-left: 0;

}

