.save-button {
  margin-bottom: 10px !important;
  border: none;
}

.collapsed-menu-tabs {
  padding-left: 2rem;
}

.expanded-menu-tabs {
  display: flex;
  justify-content: center;
}

.menu-tab {
  font-size: 13px;
}