.ui.celled.unstackable.table {
    width: 650px;
}

.ui.celled.unstackable.table.div {
    margin-bottom: 5;
}


@media only screen and (max-width: 767px) {
    .ui.celled.unstackable.table {
        width: 300px;
    }
}
